.advantages-item {
  border-style: solid;
  border-color: $medium-gray;
  border-bottom-width: 1px;
  line-height: 1.5;
  transition: background-color 0.15s ease;
  .advantages-item-picture {
    margin-bottom: rem-calc(25);
    svg {
      // fill: remove;
    }
  }
  .advantages-item-info {
    margin-bottom: rem-calc(10);
  }
}

.advantages-item:hover,
.advantages-item-active {
  border-color: transparent;
  background-color: $primary-color;
}

.advantages-item-last {
  border-bottom: 0;
}

.advantages-item-picture {
  height: rem-calc(100);
}

.advantages-item-title {
  color: $black;
}
