html,
body,
.off-canvas-wrapper,
.off-canvas-content {
  height: 100%;
}

.off-canvas-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.off-canvas {
  &.is-open {
    & ~ .off-canvas-content {
      .burger {
        i {
          &:first-child() {
            transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > .main {
    flex: 1 0 auto;
  }
}

// hide the sprite
.sprite-container {
  position: absolute;
  bottom: -900px;
  overflow: hidden;
  height: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.content-card {
  background-color: #fff;
}
