// for pixelperfect
.chromeperfectpixel-portal img.chromeperfectpixel-overlay {
  display: block !important;
}

html,
body,
.off-canvas-wrapper,
.off-canvas-content {
  height: 100%;
}

.off-canvas-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.off-canvas {
  &.is-open {
    & ~ .off-canvas-content {
      .burger {
        i {
          &:first-child() {
            transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > .main {
    flex: 1 0 auto;
  }
}

// hide the sprite
.sprite-container {
  position: absolute;
  bottom: -900px;
  overflow: hidden;
  height: 0;
}

a,
button {
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;
}

svg {
  display: inline-block;
  vertical-align: middle;
  // max-width: 100%;
  fill: currentColor;
}

.section {
  padding: rem-calc(10 0);
}

.section-white {
  background-color: $white;
}
.section-light {
  background-color: get-color(light);
}
.section-dark {
  color: $white;
  background-color: get-color(text);
  a {
    color: $white;
  }
}
.section-secondary {
  background-color: $secondary-color;
}

.section-title {
  font-weight: $global-weight-normal;
}

.title-block {
  margin-bottom: rem-calc(10);
  padding: rem-calc(13 10 13 20);
  background-color: get-color(light);
}
.title-block-secondary {
  color: $white;
  background-color: #4ec3cc;
  .section-title,
  .title-block-link {
    color: inherit;
  }
}

.title-block-link {
  margin-left: rem-calc(20);
}

.content-card {
  background-color: #fff;
}

.button-cart {
  padding-top: rem-calc(7);
  padding-bottom: rem-calc(7);
  color: #746127;
  &:hover,
  &:focus {
    color: #746127;
  }
}
