.header {
  position: relative;
  z-index: 10;
  padding-top: rem-calc(13);
  font-size: rem-calc(14);
  box-shadow: 1.8px 0.9px 3px rgba(0, 0, 0, 0.1);
  .burger {
    margin-bottom: rem-calc(10);
  }
  .logo {
    margin-bottom: rem-calc(10);
  }
  .callback-phone {
    margin-bottom: rem-calc(10);
  }
  .callback-order {
    border-bottom: 1px solid get-color(text);
    outline: 0;
    transition: border-color 0.15s ease;
    &:hover,
    &:focus {
      border-color: transparent;
      color: get-color(text);
    }
  }
  .cart-status {
    padding-top: rem-calc(5);
  }
}

.logo,
.callback {
  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.logo {
  img {
    display: block;
  }
}

.callback {
  line-height: 1;
}

.callback-phone {
  font-weight: 600;
  &:hover {
    color: get-color(text);
  }
  .icon {
    fill: $primary-color;
  }
}

.callback-phone-text {
  font-size: rem-calc(23);
}

.userbar {
  .button {
    padding: rem-calc(10 12);
    border-right: 1px solid $medium-gray;
    background-color: transparent;
    &:first-child {
      border-left: 1px solid $medium-gray;
    }
    &:hover {
      color: $secondary-color;
    }
  }
}

.cart-status-button {
  padding: 0;
  line-height: unitless-calc(18, 14);
  background-color: transparent;
  .icon {
    margin-right: rem-calc(14);
  }
  &:hover,
  &:focus {
    color: $secondary-color;
    background-color: transparent;
  }
}

.mega-menu-container {
  position: relative;
  z-index: 1010;
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon {
    margin-left: rem-calc(10);
    min-width: rem-calc(16);
  }
  .mega-menu-toggle {
    display: block;
    &.is-active {
      & > a {
        background-color: $primary-color;
      }
    }
  }
  .mega-menu {
    li {
      &:hover {
        & > a {
          color: $secondary-color;
        }
      }
    }
    a {
      padding-right: rem-calc(26);
    }
  }
}

.mega-menu-toggle {
  width: 100%;
  font-size: rem-calc(15);
  font-weight: 600;
  & > a {
    width: 100%;
    background-color: $primary-color;
    &:hover,
    &:focus {
      color: get-color(text);
    }
  }
}

.mega-menu {
  ul {
    width: 100%;
  }
  li {
    display: block;
    flex: 1 0 100%;
    background-color: $white;
  }
  a {
    flex-grow: 1;
    &:not(:only-child) {
      position: relative;
      &:after {
        content: url(data:image/svg+xml;base64,77u/PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjdweCIgaGVpZ2h0PSIxMnB4Ij48ZGVmcz48ZmlsdGVyIGlkPSJGaWx0ZXJfMCI+ICAgIDxmZUZsb29kIGZsb29kLWNvbG9yPSJyZ2IoMTg5LCAxODksIDE4OSkiIGZsb29kLW9wYWNpdHk9IjEiIHJlc3VsdD0iZmxvb2RPdXQiIC8+ICAgIDxmZUNvbXBvc2l0ZSBvcGVyYXRvcj0iYXRvcCIgaW49ImZsb29kT3V0IiBpbjI9IlNvdXJjZUdyYXBoaWMiIHJlc3VsdD0iY29tcE91dCIgLz4gICAgPGZlQmxlbmQgbW9kZT0ibm9ybWFsIiBpbj0iY29tcE91dCIgaW4yPSJTb3VyY2VHcmFwaGljIiAvPjwvZmlsdGVyPjwvZGVmcz48ZyBmaWx0ZXI9InVybCgjRmlsdGVyXzApIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiICBmaWxsPSJyZ2IoMjIwLCAyMTIsIDIwMikiIGQ9Ik03LjAwMyw2LjEzMSBMMS4yMjUsMTIuMDA0IEwwLjIwNiwxMC45NjggTDQuOTkzLDYuMTAyIEwtMC4wMDUsMS4wMjMgTDEuMDA2LC0wLjAwNCBMNi43MzMsNS44MTYgTDYuNzEzLDUuODM2IEw3LjAwMyw2LjEzMSBaIi8+PC9nPjwvc3ZnPg==);
        position: absolute;
        right: 10px;
        top: 50%;
      }
    }
  }
}

.navigation-wrap {
  position: relative;
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    right: rem-calc(10);
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
  }
}

.navigation {
  padding: rem-calc(10) 0;
  li {
    align-items: center;
  }
  a {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    width: 100%;
    color: $dark-gray;
    transition: color 0.15s ease;
    &:hover {
      color: get-color(text);
    }
  }
  .more-menu {
    a {
      padding: rem-calc(12);
    }
    .more-menu-toggle {
      & > a {
        padding: rem-calc(16 10);
        border-bottom: 0;
      }
    }
  }
}

.more-menu {
  ul {
    margin-left: 0;
  }
}

// No JS
.no-js {
  .mega-menu-container {
    &:before {
      display: none;
    }
    ul {
      position: absolute;
    }
    li {
      &:hover {
        & > ul {
          display: block;
        }
      }
    }
  }
}
