@include breakpoint(medium down) {
  html {
    // font-size: 15px;
  }
}

@include breakpoint(small down) {
  html {
    // font-size: 14px;
  }
}

@include breakpoint(medium) {
  .advantages-row {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
}

@include breakpoint(large) {
  html {
    font-size: 16px;
  }
}
