@include breakpoint(medium down) {
  .mega-menu-container {
    .mega-menu {
      a {
        padding-top: rem-calc(14);
        padding-bottom: rem-calc(14);
      }
    }
  }
}

@include breakpoint(small only) {
  .header {
    .logo,
    .mega-menu-container {
      margin-left: rem-calc(-10);
      margin-right: rem-calc(-10);
    }
    .logo {
      padding-top: rem-calc(1);
      a {
        max-width: rem-calc(202);
      }
    }
  }
  .mega-menu-container {
    .mega-menu-toggle {
      & > a {
        padding: rem-calc(15 10);
      }
    }
    .mega-menu {
      a {
        padding: rem-calc(12 10);
      }
    }
  }
  .navigation {
    li {
      &:not(:last-child) {
        border-bottom: 1px solid $medium-gray;
      }
    }
    a {
      &:hover {
        color: $secondary-color;
      }
    }
    .more-menu {
      .more-menu-toggle {
        & > a {
          color: $dark-gray;
        }
        &:hover {
          & > a {
            color: $secondary-color;
          }
        }
      }
    }
  }
  .more-menu,
  .more-menu-toggle {
    width: 100%;
  }
  .more-menu {
    ul {
      a {
        background-color: $light-gray;
      }
    }
  }
  .more-menu-toggle {
    .icon {
      margin-left: rem-calc(4);
      fill: red;
    }
  }
}

@include breakpoint(medium only) {
  .banners-col-small {
    display: flex;
    .banner {
      width: 50%;
    }
  }
}

@include breakpoint(medium) {
  .header {
    padding-top: rem-calc(20);
    .logo {
      margin-bottom: rem-calc(20);
    }
  }
  .navigation {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: auto;
    max-width: rem-calc(466);
    font-weight: 600;
    & > li {
      & > a {
        position: relative;
        padding: 0;
        border-bottom: 1px solid $dark-gray;
        transition: border-color 0.15s ease;
        &:hover {
          border-color: transparent;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: rem-calc(-23);
          left: 0;
          width: 100%;
          height: 6px;
          visibility: hidden;
          background-color: transparent;
          transition: background-color 0.25s ease;
        }
        &:hover {
          &:after {
            visibility: visible;
            background-color: $primary-color;
          }
        }
      }
    }
    .more-menu {
      .more-menu-toggle {
        & > a {
          padding: rem-calc(13);
        }
      }
    }
  }
  .more-menu {
    .more-menu-toggle {
      &.is-active {
        & > a {
          background-color: #f2f7f7;
        }
      }
    }
    ul {
      li {
        &:not(:last-child) {
          border-bottom: 1px solid $medium-gray;
        }
      }
    }
  }
  .more-menu-toggle {
    & > a {
      background-color: #f2f7f7;
    }
  }
  .banner-primary {
    position: relative;
    height: rem-calc(448);
    .banner-picture {
      position: absolute;
      bottom: 0;
      right: 0;
      img {
        display: block;
        width: 100%;
        max-width: none;
      }
    }
    .banner-info {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      .banner-title {
        margin-bottom: rem-calc(30);
      }
      p {
        margin-bottom: rem-calc(34);
      }
    }
    .banner-title {
      font-size: rem-calc(40);
    }
  }
  .banner-slider {
    .swiper-pagination {
      left: rem-calc(24);
      z-index: 2;
    }
  }
  .banner-info {
    padding: rem-calc(20 20 28 28);
    .banner-title {
      margin-bottom: rem-calc(10);
    }
    .banner-subtitle {
      margin-bottom: rem-calc(25);
    }
  }
  .banner-button {
    &.banner-button-primary {
      width: rem-calc(230);
    }
  }
  .advantages-row {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
}

@include breakpoint(large) {
  .header {
    padding-top: rem-calc(30);
    .logo {
      padding-top: rem-calc(12);
    }
    .callback {
      padding-left: rem-calc(20);
    }
    .cart-status-button {
      margin-left: auto;
    }
  }
  .userbar {
    justify-content: flex-end;
    .button {
      padding-left: rem-calc(25);
      padding-right: rem-calc(25);
    }
  }
  .mega-menu-container {
    .mega-menu-toggle {
      & > a {
        padding-left: rem-calc(34);
        padding-right: rem-calc(25);
      }
    }
    .mega-menu {
      a {
        padding-right: rem-calc(8);
      }
    }
  }
  .mega-menu {
    li {
      position: static;
      &:not(:last-child) {
        border-bottom: 1px solid $medium-gray;
      }
    }
  }
  .navigation {
    justify-content: flex-end;
    max-width: none;
    & > li {
      &:not(:first-child) {
        margin-left: rem-calc(35);
      }
    }
  }
  .section {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  .banners {
    .banner {
      margin-bottom: rem-calc(20);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .banners-grid {
    flex-direction: row;
  }
  .banners-col {
    padding: 0 rem-calc(10);
  }
  .banners-col-big {
    order: 2;
    width: 66.6666%;
  }
  .banners-col-small {
    order: 1;
    width: 33.3333%;
  }
  .banner-primary {
    .banner-info {
      flex-grow: 0;
      padding-left: rem-calc(65);
      .banner-title {
        margin-bottom: rem-calc(40);
        font-size: rem-calc(50);
      }
      p {
        margin-bottom: rem-calc(46);
      }
    }
  }
  .banner-slider {
    .banner {
      height: 100%;
    }
    .swiper-pagination {
      left: rem-calc(61);
    }
  }
  .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 0;
    .banner-title {
      margin-bottom: rem-calc(15);
    }
    .banner-subtitle {
      margin-bottom: rem-calc(35);
    }
  }
  .banner-default {
    .banner-picture {
      padding-right: rem-calc(20);
    }
  }
}

@include breakpoint(xlarge) {
  .header {
    padding-top: rem-calc(52);
    .callback {
      padding-left: rem-calc(62);
    }
  }
  .banners {
    padding-top: rem-calc(55);
    padding-bottom: rem-calc(55);
  }
}
