@include breakpoint(medium down) {
  .mega-menu-container {
    .mega-menu {
      a {
        padding-top: rem-calc(14);
        padding-bottom: rem-calc(14);
      }
    }
  }
  .contact-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  // Newsletter page
  .newsletter-page {
    .user-content {
      .page-title {
        font-size: rem-calc(24);
      }
    }
  }
}

@include breakpoint(medium only) {
  .banners-col-small {
    display: flex;
    .banner {
      width: 50%;
    }
  }

  // Catalog page
  .product-card-column {
    &.picture-column {
      border-bottom: 1px solid $medium-gray;
    }
  }

  // Checkout page
  .payment-type {
    flex-basis: auto;
  }

  // Register page
  .person-checkbox-wrapper {
    &:not(:last-child) {
      margin-right: rem-calc(30);
    }
  }
}

@include breakpoint(small only) {
  .header {
    .mega-menu-container {
      margin-left: rem-calc(-10);
      margin-right: rem-calc(-10);
    }
    .logo {
      margin-top: rem-calc(-3);
      margin-left: rem-calc(-20);
      margin-right: rem-calc(-20);
      padding-top: rem-calc(1);
      a {
        max-width: rem-calc(222);
      }
    }
  }
  .mega-menu-container {
    .mega-menu-toggle {
      & > a {
        padding: rem-calc(15 10);
      }
    }
    .mega-menu {
      a {
        padding: rem-calc(12 10);
      }
    }
  }
  .navigation {
    li {
      &:not(:last-child) {
        border-bottom: 1px solid $medium-gray;
      }
    }
    a {
      &:hover {
        color: $secondary-color;
      }
    }
    .more-menu {
      .more-menu-toggle {
        & > a {
          color: $dark-gray;
        }
        &:hover {
          & > a {
            color: $secondary-color;
          }
        }
      }
    }
  }
  .more-menu,
  .more-menu-toggle {
    width: 100%;
  }
  .more-menu {
    ul {
      a {
        background-color: $light-gray;
      }
    }
  }
  .more-menu-toggle {
    .icon {
      margin-left: rem-calc(4);
    }
  }
  .articles-item {
    .articles-item-title {
      margin-bottom: rem-calc(10);
    }
  }
  .articles-item-info,
  .about-content {
    font-size: rem-calc(15);
  }
  .articles-item-info {
    padding: rem-calc(12 18 18);
    p {
      margin-bottom: rem-calc(16);
    }
  }
  .about-content {
    padding: rem-calc(30 18 20);
    .about-title {
      margin-bottom: rem-calc(15);
    }
    p {
      margin-bottom: rem-calc(16);
    }
  }

  // Inner page
  .breadcrumbs-wrapper {
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
  }
  .breadcrumbs {
    margin-bottom: 0;
    li {
      display: block;
      float: none;
      &:not(:last-child) {
        margin-bottom: rem-calc(8);
        &:after {
          display: none;
        }
      }
    }
  }

  // Product page
  .product-tabs {
    display: block;
    .tabs-title {
      display: block;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  // Checkout page
  .cart-item-column {
    &.price-column {
      padding-top: 0;
    }
  }

  // Profile page
  .user-birth-fields {
    .select {
      margin-bottom: rem-calc(10);
    }
  }
}

@include breakpoint(medium) {
  .header {
    padding-top: rem-calc(20);
    .logo {
      margin-bottom: rem-calc(20);
    }
  }
  .navigation-wrap {
    &:after {
      display: block;
    }
  }
  .navigation {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: auto;
    max-width: rem-calc(466);
    font-weight: 600;
    & > li {
      & > a {
        position: relative;
        padding: 0;
        border-bottom: 1px solid $dark-gray;
        transition: border-color 0.15s ease;
        &:hover {
          border-color: transparent;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: rem-calc(-23);
          left: 0;
          width: 100%;
          height: 6px;
          visibility: hidden;
          background-color: transparent;
          transition: background-color 0.25s ease;
        }
        &:hover {
          &:after {
            visibility: visible;
            background-color: $primary-color;
          }
        }
      }
    }
    .more-menu {
      .more-menu-toggle {
        & > a {
          padding: rem-calc(13);
        }
      }
    }
  }
  .more-menu {
    .more-menu-toggle {
      &.is-active {
        & > a {
          background-color: #f2f7f7;
        }
      }
    }
    ul {
      li {
        &:not(:last-child) {
          border-bottom: 1px solid $medium-gray;
        }
      }
    }
  }
  .more-menu-toggle {
    & > a {
      background-color: #f2f7f7;
    }
  }
  .banner-primary {
    position: relative;
    height: rem-calc(448);
    .banner-picture {
      position: absolute;
      bottom: 0;
      right: 0;
      img {
        display: block;
        width: 100%;
        max-width: none;
      }
    }
    .banner-info {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: rem-calc(30);
      width: 50%;
      .banner-title {
        margin-bottom: rem-calc(30);
      }
      p {
        margin-bottom: rem-calc(34);
      }
    }
    .banner-title {
      font-size: rem-calc(40);
    }
  }
  .banner-slider {
    .swiper-pagination {
      left: rem-calc(24);
      z-index: 2;
    }
  }
  .banner-info {
    padding: rem-calc(20 20 22 28);
    .banner-title {
      margin-bottom: rem-calc(10);
    }
    .banner-subtitle {
      margin-bottom: rem-calc(25);
    }
  }
  .banner-button {
    &.banner-button-primary {
      padding-top: rem-calc(13);
      padding-bottom: rem-calc(13);
      width: rem-calc(200);
    }
  }
  .advantages-row {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
  .advantages-item {
    border-bottom-width: 0;
  }
  .subscription-form-container {
    margin-left: auto;
    margin-right: auto;
    max-width: rem-calc(550);
  }
  .footer-menu {
    li {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .footer {
    .payment-menu {
      justify-content: flex-end;
    }
  }

  // Inner page
  .page-content {
    table {
      tr {
        &:not(:last-child) {
          border-bottom: 0;
          td {
            border-bottom: 1px solid #bfbfbf;
          }
        }
      }
      th {
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(5);
      }
      td {
        padding-top: rem-calc(21);
        padding-bottom: rem-calc(21);
        &:nth-child(2) {
          width: rem-calc(155);
        }
        &:last-child {
          width: rem-calc(110);
        }
      }
    }
  }

  // Catalog page
  .sorting {
    .select {
      width: 100%;
      max-width: rem-calc(208);
    }
    .select-small {
      max-width: rem-calc(200);
    }
  }
  .product-card {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card-column {
    flex: 1 1 50%;
    &.picture-column,
    &.details-column {
      max-width: 50%;
    }
    &.info-column,
    &.details-column {
      padding: rem-calc(20 10 18 20);
    }
    &.info-column {
      order: 3;
    }
  }
  .product-table {
    tr {
      padding: 0;
      background-color: $white;
      background-image: radial-gradient(circle at 2px 2px, #d8d8d8 2px, transparent 0, transparent 3px);
      background-repeat: repeat-x;
      background-size: 7px 3px;
      background-position: 0 50%;
      &:not(:last-child) {
        border-bottom: 0;
      }
    }
    td {
      padding: rem-calc(6 0 7);
      &:not(:last-child) {
        .column-content {
          display: inline-block;
          vertical-align: middle;
          padding-right: rem-calc(8);
        }
      }
      &:last-child {
        .column-content {
          padding-left: rem-calc(8);
        }
      }
    }
    .column-content {
      background-color: $white;
    }
  }

  // Product page
  .product-tabs-content {
    .tabs-panel {
      padding: rem-calc(25 20 15);
    }
  }

  // Checkout page
  .cart-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .cart-item-column {
    flex-basis: 50%;
    &.price-column {
      text-align: center;
    }
    &.amount-column {
      position: relative;
    }
    .cart-item-amount {
      position: relative;
      margin-bottom: rem-calc(40);
      .close-button {
        position: absolute;
        top: 50%;
        right: rem-calc(10);
        transform: translateY(-50%);
      }
    }
    .products-number {
      position: absolute;
      bottom: rem-calc(15);
      left: rem-calc(10);
      margin-bottom: 0;
    }
  }
  .cart-item-price {
    margin-bottom: rem-calc(40);
  }
  .cart-coupon-container,
  .cart-coupon-column {
    display: flex;
    align-items: center;
  }
  .cart-coupon-column {
    .cart-coupon-label {
      white-space: nowrap;
      margin-right: rem-calc(20);
    }
    .cart-coupon-field {
      margin-bottom: 0;
    }
  }
  .cart-coupon-field {
    width: rem-calc(220);
  }
  .person-item,
  .person-checkboxes {
    display: flex;
    align-items: center;
  }
  .person-item {
    &.checkboxes-item {
      margin-bottom: rem-calc(10);
    }
    &.comment-item {
      align-items: flex-start;
    }
    & > label,
    & > .person-label {
      flex-basis: 200px;
      padding-right: rem-calc(20);
    }
    & > input,
    & > .select,
    & > .person-checkboxes,
    & > textarea {
      flex-grow: 1;
      width: auto;
    }
    & > input,
    & > .select,
    & > .person-checkboxes {
      max-width: rem-calc(400);
    }
  }
  .delivery-type {
    padding-left: rem-calc(200);
  }
  .delivery-details {
    .person-item {
      margin-left: rem-calc(-200);
    }
  }
  .payment-types {
    flex-wrap: nowrap;
  }
  .payment-type {
    &:not(:last-child) {
      margin-right: rem-calc(10);
    }
  }

  // 404 page
  .error-content {
    padding-bottom: rem-calc(56);
    .page-content {
      padding-top: rem-calc(60);
      padding-bottom: rem-calc(120);
      background-size: rem-calc(1010);
      background-position: rem-calc(-202) 56%;
      .page-title {
        font-size: rem-calc(64);
      }
      p {
        font-size: rem-calc(24);
      }
    }
  }

  // Search results page
  .search-results-title {
    font-size: rem-calc(25);
  }

  // Modal
  .modal {
    padding: rem-calc(73 80 67);
    label {
      margin-bottom: rem-calc(13);
    }
    input {
      margin-bottom: rem-calc(41);
    }
    .close-button {
      font-size: rem-calc(56);
      line-height: rem-calc(32);
    }
  }
  .modal-success {
    padding-top: rem-calc(118);
    padding-bottom: rem-calc(88);
  }
  .modal-title {
    margin-bottom: rem-calc(70);
  }
  .modal-success-icon {
    margin-bottom: rem-calc(57);
  }
  .modal-success-title {
    margin-bottom: rem-calc(40);
    font-size: rem-calc(58);
  }
  .modal-fields {
    padding-bottom: rem-calc(28);
  }

  // User page
  .user-links {
    .column-block {
      margin-bottom: rem-calc(20);
    }
  }
  .user-link-picture {
    height: rem-calc(100);
  }
  .person-item-upload {
    align-items: flex-start;
    & > label {
      flex-shrink: 0;
    }
  }
  .profile-upload {
    flex-grow: 1;
  }

  // Login page
  .login-content {
    .person-item {
      padding-right: rem-calc(80);
      & > label,
      & > .person-label {
        flex-basis: 110px;
      }
    }
  }
  .password-notice {
    padding-left: rem-calc(110);
  }

  // Register page
  .register-notice {
    display: flex;
    align-items: center;
  }
  .register-notice-content {
    padding-right: rem-calc(20);
    max-width: rem-calc(600);
  }
  .register-notice-picture {
    padding: rem-calc(20);
  }
  .register-content {
    .person-item {
      & > label,
      & > .person-label {
        flex-basis: 150px;
      }
    }
  }
  .user-checkbox-item {
    padding-left: rem-calc(150);
  }

  // Profile page
  .profile {
    .person-item-upload {
      padding-right: 0;
    }
  }
  .user-status-wrapper {
    padding-left: rem-calc(20);
    max-width: rem-calc(420);
  }
  .user-status-info {
    font-size: rem-calc(22);
  }
  .user-birth-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: rem-calc(400);
    .select {
      flex: 1 1 auto;
      &:not(:last-child) {
        margin-right: rem-calc(5);
      }
    }
  }
  .profile-userpic {
    margin-top: rem-calc(15);
  }
  .profile-notice {
    max-width: rem-calc(400);
    margin-left: rem-calc(10);
  }

  // Favourites page
  .favourites-info {
    font-size: rem-calc(17);
    p {
      line-height: unitless-calc(28, 17);
    }
  }
  .favourites-items {
    max-width: rem-calc(900);
  }
}

@include breakpoint(large) {
  .header {
    padding-top: rem-calc(30);
    .callback {
      padding-left: rem-calc(20);
    }
    .cart-status-button {
      margin-left: auto;
    }
    .userbar {
      margin-bottom: rem-calc(47);
    }
  }
  .userbar {
    justify-content: flex-end;
    .button {
      padding-left: rem-calc(25);
      padding-right: rem-calc(25);
    }
  }
  .mega-menu-container {
    .mega-menu-toggle {
      & > a {
        padding-left: rem-calc(34);
        padding-right: rem-calc(25);
      }
    }
    .mega-menu {
      a {
        padding-right: rem-calc(8);
      }
    }
  }
  .mega-menu {
    li {
      position: static;
      &:not(:last-child) {
        border-bottom: 1px solid $medium-gray;
      }
    }
  }
  .navigation {
    justify-content: flex-end;
    max-width: none;
    & > li {
      &:not(:first-child) {
        margin-left: rem-calc(34);
      }
    }
  }
  .section {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  .title-block {
    margin-bottom: rem-calc(20);
  }
  .banners {
    .banner {
      margin-bottom: rem-calc(24);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .banners-grid {
    flex-direction: row;
  }
  .banners-col {
    padding: 0 rem-calc(10);
  }
  .banners-col-big {
    order: 2;
    width: 66.6666%;
  }
  .banners-col-small {
    order: 1;
    width: 33.3333%;
    .banner-info {
      .banner-title,
      .banner-subtitle {
        padding-left: rem-calc(6);
      }
    }
  }
  .banner-primary {
    .banner-info {
      flex-grow: 0;
      padding-left: rem-calc(65);
      .banner-title {
        margin-bottom: rem-calc(31);
        font-size: rem-calc(50);
      }
      p {
        margin-bottom: rem-calc(46);
        padding-right: rem-calc(30);
      }
    }
  }
  .banner-default {
    .banner-picture {
      padding-right: rem-calc(28);
    }
  }
  .banner-secondary {
    .banner-picture {
      padding-right: rem-calc(4);
    }
  }
  .banner-slider {
    .banner {
      height: 100%;
    }
    .swiper-pagination {
      left: rem-calc(61);
    }
  }
  .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 0;
    .banner-title {
      margin-bottom: rem-calc(8);
    }
    .banner-subtitle {
      margin-bottom: rem-calc(28);
    }
  }
  .catalog {
    padding-bottom: 0;
    .column-block {
      margin-bottom: rem-calc(20);
    }
  }
  .goods {
    padding-bottom: rem-calc(10);
  }
  .advantages-item {
    border-right-width: 1px;
  }
  .articles,
  .about,
  .subscription {
    padding-top: 0;
  }
  .subscription-content {
    padding: rem-calc(72 100 78);
    .icon {
      margin-bottom: rem-calc(26);
    }
    .subscription-title {
      margin-bottom: rem-calc(64);
    }
  }
  .subscription-form-container {
    display: flex;
    max-width: none;
  }
  .subscription-form-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: rem-calc(15);
    &:not(:last-child) {
      padding-left: rem-calc(10);
    }
    &:first-child {
      margin-right: rem-calc(36);
    }
    &:nth-child(2) {
      margin-right: rem-calc(20);
    }
    &:last-child {
      max-width: rem-calc(220);
    }
    label,
    input {
      margin-bottom: 0;
    }
    label {
      margin-right: rem-calc(10);
    }
  }
  .footer {
    .callback-phone {
      margin-bottom: rem-calc(18);
      font-size: rem-calc(30);
    }
    .callback-order {
      margin-bottom: rem-calc(58);
    }
    .payment {
      padding-top: rem-calc(56);
    }
    .payment-title {
      margin-bottom: rem-calc(30);
    }
    .payment-menu {
      justify-content: flex-start;
    }
    .footer-menu {
      margin-bottom: rem-calc(24);
    }
  }
  .footer-menu {
    padding-top: rem-calc(54);
    li {
      padding-top: rem-calc(14);
      padding-bottom: rem-calc(15);
    }
  }
  .contact {
    padding-top: rem-calc(82);
    .contact-title {
      margin-bottom: rem-calc(72);
    }
  }
  .contact-title {
    font-size: rem-calc(30);
  }
  .scl {
    .scl-title {
      margin-bottom: rem-calc(24);
    }
  }
  .scl-menu {
    .button {
      padding-top: rem-calc(23);
      padding-bottom: rem-calc(23);
      width: rem-calc(100);
    }
  }

  // Inner page
  .breadcrumbs-wrapper {
    padding-top: rem-calc(31);
    padding-bottom: rem-calc(18);
  }

  // Catalog page
  .filter {
    .accordion-title {
      font-size: rem-calc(15);
      line-height: unitless-calc(35, 15);
      &:before {
        top: 28%;
      }
    }
    .accordion-title-text {
      padding: rem-calc(13 10 12 12);
    }
    .accordion-content {
      padding-right: rem-calc(17);
    }
    .checkboxes {
      padding-left: rem-calc(14);
    }
  }
  .filter-accordion {
    margin-bottom: rem-calc(30);
  }
  .filter-buttons {
    padding-right: rem-calc(19);
    padding-left: rem-calc(9);
  }
  .filter-button-apply {
    margin-bottom: rem-calc(30);
  }
  .search-content {
    padding-bottom: rem-calc(40);
    p {
      margin-bottom: rem-calc(48);
    }
    .tags {
      margin-bottom: rem-calc(54);
      padding-top: rem-calc(8);
    }
    .sorting-long {
      padding-right: rem-calc(22);
    }
    .pagination {
      margin-bottom: rem-calc(50);
    }
  }
  .tags {
    li {
      margin-right: rem-calc(16);
    }
  }
  .search-items {
    margin-bottom: rem-calc(40);
    & > li {
      &:not(:last-child) {
        margin-bottom: rem-calc(40);
      }
    }
  }
  .product-card {
    flex-wrap: nowrap;
    .product-card-title {
      margin-bottom: rem-calc(12);
    }
    .tags {
      margin-bottom: rem-calc(23);
    }
    .product-costs {
      margin-bottom: rem-calc(34);
    }
    .products-number {
      margin-bottom: rem-calc(62);
    }
    .product-out-button {
      margin-bottom: rem-calc(20);
    }
    .product-out {
      .product-action-button {
        margin-bottom: rem-calc(30);
      }
    }
  }
  .product-card-column {
    &.picture-column {
      flex: 0 0 rem-calc(180);
      padding: rem-calc(12 20 10 0);
      max-width: rem-calc(180);
    }
    &.info-column,
    &.details-column {
      padding-top: rem-calc(30);
      padding-right: rem-calc(20);
    }
    &.info-column {
      order: 2;
      padding-left: 0;
    }
    &.details-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 rem-calc(200);
      order: 3;
      max-width: rem-calc(200);
    }
  }
  .product-card-picture {
    padding-top: rem-calc(34);
  }
  .product-table {
    td {
      &:last-child {
        width: rem-calc(140);
      }
    }
  }
  .product-out {
    .product-out-button {
      width: 100%;
    }
  }
  .product-tooltip {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
    }
    &:before {
      margin: -6px 0 0 -6px;
      width: 12px;
      height: 12px;
      border: 1px solid $secondary-color;
      background-color: $white;
      transform: rotate(45deg);
    }
  }
  .catalog-page {
    .filter {
      margin-top: rem-calc(8);
      padding-bottom: rem-calc(18);
    }
  }

  // Product page
  .product-page {
    .breadcrumbs-wrapper {
      margin-bottom: rem-calc(19);
    }
    .product-out {
      margin-bottom: rem-calc(36);
    }
    .product-out-description {
      margin-bottom: rem-calc(32);
      padding-top: rem-calc(18);
    }
  }
  .product-page-out {
    .product-content {
      padding-bottom: rem-calc(15);
      .goods-slider-wrapper {
        margin-bottom: rem-calc(30);
      }
    }
  }
  .product-gallery-main {
    margin-bottom: 22px;
  }
  .product-gallery-thumbs {
    height: 94px;
    .swiper-slide {
      width: 95px;
    }
  }
  .product-content {
    padding-bottom: rem-calc(50);
    .product-features {
      margin-bottom: rem-calc(32);
    }
    .page-title {
      margin-bottom: rem-calc(23);
    }
    .product-costs {
      margin-bottom: rem-calc(20);
    }
    .products-number {
      margin-bottom: rem-calc(32);
      margin-left: rem-calc(-3);
    }
    .special-offer {
      margin-bottom: rem-calc(44);
    }
    .product-amount {
      .counter {
        margin-right: rem-calc(19);
      }
    }
    .counter-wrapper {
      margin-bottom: rem-calc(37);
    }
    .product-action-button,
    .product-table {
      margin-bottom: rem-calc(54);
    }
    .title-block {
      padding-left: rem-calc(27);
    }
    .goods-slider-wrapper {
      margin-bottom: rem-calc(50);
    }
    .goods-item-info {
      padding: rem-calc(16 19 24);
    }
  }
  .product-tabs {
    .tabs-title {
      max-width: rem-calc(180);
      a {
        padding-top: rem-calc(23);
        padding-bottom: rem-calc(30);
      }
    }
  }
  .product-tabs-content {
    margin-bottom: rem-calc(48);
    .tabs-panel {
      padding: rem-calc(60 30 34);
    }
    p {
      margin-bottom: rem-calc(20);
    }
  }

  // Checkout page
  .checkout-content {
    padding-top: rem-calc(80);
    padding-bottom: rem-calc(105);
  }
  .checkout-card {
    padding: rem-calc(46 80 56);
    &:not(:last-child) {
      margin-bottom: rem-calc(42);
    }
  }
  .checkout-card-title {
    margin-bottom: rem-calc(40);
  }
  .cart {
    padding: rem-calc(40 0 0);
    .checkout-card-title {
      margin-bottom: rem-calc(42);
      padding-left: rem-calc(35);
    }
  }
  .cart-items {
    margin-bottom: rem-calc(30);
  }
  .cart-item {
    flex-wrap: nowrap;
    .product-card-title {
      margin-bottom: rem-calc(5);
    }
  }
  .cart-item-column {
    &.picture-column {
      flex-basis: rem-calc(190);
    }
    &.info-column {
      align-self: flex-start;
      flex-basis: rem-calc(440);
      padding-top: rem-calc(48);
    }
    &.price-column {
      flex-basis: rem-calc(190);
    }
    &.amount-column {
      padding-top: rem-calc(30);
      flex-basis: rem-calc(360);
    }
    .product-card-picture {
      img {
        max-height: rem-calc(134);
      }
    }
    .cart-item-amount {
      margin-bottom: rem-calc(30);
    }
    .products-number {
      bottom: rem-calc(-15);
    }
  }
  .cart-item-price {
    margin-bottom: rem-calc(8);
  }
  .cart-costs {
    padding-left: rem-calc(80);
    padding-right: rem-calc(80);
    .cart-costs-title,
    .cart-price {
      margin-bottom: rem-calc(8);
    }
    .cart-coupon {
      margin-bottom: rem-calc(24);
      padding-top: rem-calc(27);
      padding-left: rem-calc(30);
    }
  }
  .person-item {
    &:not(:last-child) {
      margin-bottom: rem-calc(40);
    }
  }
  .delivery {
    padding-bottom: rem-calc(18);
    .checkout-card-title {
      margin-bottom: rem-calc(28);
    }
  }
  .delivery-type {
    margin-bottom: rem-calc(28);
    & > label {
      margin-bottom: rem-calc(16);
    }
    .help-text {
      margin-bottom: rem-calc(40);
      padding-right: rem-calc(30);
    }
    .person-item {
      margin-bottom: rem-calc(25);
    }
  }
  .checkout-costs-title {
    margin-bottom: rem-calc(12);
  }
  .checkout-price {
    margin-bottom: rem-calc(30);
  }
  .payment {
    padding-top: rem-calc(81);
    padding-bottom: rem-calc(42);
    .checkout-card-title {
      margin-bottom: rem-calc(45);
    }
  }
  .payment-type {
    flex-grow: 0;
    margin-bottom: rem-calc(20);
    &:not(:last-child) {
      margin-right: rem-calc(20);
    }
    .radio {
      & + label {
        padding-top: rem-calc(25);
        padding-top: rem-calc(27);
        &:before {
          bottom: rem-calc(15);
        }
      }
    }
  }
  .payment-type-title {
    height: rem-calc(80);
  }
  .checkout-result {
    padding-bottom: rem-calc(62);
    .checkout-card-title {
      margin-bottom: rem-calc(30);
    }
  }
  .checkout-price {
    &.final {
      margin-bottom: rem-calc(52);
    }
  }
  .checkout-costs-container {
    margin-bottom: rem-calc(45);
    .checkout-costs {
      &:not(:last-child) {
        margin-right: rem-calc(72);
      }
    }
  }

  // Services page
  .services-content {
    padding-bottom: rem-calc(48);
    .breadcrumbs-wrapper {
      margin-bottom: rem-calc(48);
    }
    .page-title {
      margin-bottom: rem-calc(34);
    }
  }
  .services {
    .column-block {
      margin-bottom: rem-calc(56);
    }
  }
  .services-item-picture {
    img {
      width: auto;
      max-width: none;
      height: rem-calc(220);
    }
  }
  .services-item-info {
    padding: rem-calc(20 20 31);
  }
  .services-item-title {
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
  }

  // Service page
  .service-content {
    padding-bottom: rem-calc(44);
    .breadcrumbs-wrapper {
      margin-bottom: rem-calc(8);
    }
    .subscription-content {
      margin-bottom: rem-calc(38);
      padding-top: rem-calc(60);
      .subscription-title {
        margin-bottom: rem-calc(94);
      }
    }
    .subscription-form-container {
      max-width: rem-calc(930);
    }
    .subscription-form-item {
      &:first-child {
        margin-right: rem-calc(24);
      }
      &:last-child {
        flex: 0 0 220px;
      }
    }
  }
  .service-card {
    &.page-content {
      margin-bottom: rem-calc(46);
      padding: rem-calc(55 80 30);
      img {
        margin-top: rem-calc(12);
        width: 100%;
        max-width: rem-calc(280);
      }
    }
  }
  .page-content {
    .page-title {
      margin-bottom: rem-calc(17);
    }
    h4 {
      margin-bottom: rem-calc(22);
    }
    p {
      margin-bottom: rem-calc(60);
    }
    ul {
      margin-bottom: rem-calc(56);
    }
    table {
      margin-bottom: rem-calc(34);
    }
  }
  .service-benefit {
    margin-bottom: rem-calc(20);
    display: flex;
    padding: rem-calc(44 70 20 20);
  }
  .service-benefit-picture {
    padding-top: rem-calc(8);
    padding-right: rem-calc(20);
    flex: 0 0 80px;
  }
  .service-benefit-title {
    margin-bottom: rem-calc(14);
  }

  // Promotions page
  .promotions-content {
    .page-title {
      margin-bottom: rem-calc(30);
    }
    .services {
      margin-bottom: rem-calc(42);
      .column-block {
        margin-bottom: rem-calc(36);
      }
    }
    .services-item-picture {
      img {
        height: rem-calc(230);
      }
    }
  }

  // Promotion page
  .promotion-content {
    .breadcrumbs-wrapper {
      margin-bottom: rem-calc(31);
    }
    .page-content {
      padding-bottom: rem-calc(42);
      .page-title {
        margin-bottom: rem-calc(24);
      }
      p {
        margin-bottom: rem-calc(28);
      }
      img {
        margin-top: rem-calc(12);
      }
    }
  }
  .page-content {
    button {
      margin-bottom: rem-calc(30);
    }
  }
  .promotion-products {
    padding: rem-calc(69 0 97);
  }
  .promotion-products-title {
    margin-bottom: rem-calc(52);
  }

  // 404 page
  .error-content {
    .breadcrumbs-wrapper {
      margin-bottom: rem-calc(24);
    }
    .service-card {
      &.page-content {
        padding: rem-calc(187 0 188);
      }
    }
    .page-content {
      background-size: rem-calc(1383);
      .page-title {
        margin-bottom: rem-calc(31);
        font-size: rem-calc(78);
      }
      p {
        font-size: rem-calc(30);
      }
    }
  }

  // Search results page
  .results-content {
    .breadcrumbs-wrapper {
      margin-bottom: rem-calc(47);
    }
    .page-title {
      margin-bottom: rem-calc(49);
    }
    .search-results {
      padding-bottom: rem-calc(36);
    }
    .product-card {
      .product-card-title {
        margin-bottom: rem-calc(20);
      }
      .product-costs {
        margin-bottom: rem-calc(50);
      }
    }
    .product-card-column {
      &.picture-column {
        padding-top: 0;
      }
      &.info-column {
        padding-top: rem-calc(24);
      }
      &.details-column {
        padding-top: rem-calc(21);
        padding-bottom: rem-calc(27);
      }
    }
    .counter-wrapper {
      margin-bottom: rem-calc(22);
    }
    .search-sidebar {
      margin-top: rem-calc(-31);
    }
  }
  .search-results-title {
    margin-bottom: rem-calc(21);
  }
  .product-availability {
    margin-bottom: rem-calc(16);
  }
  .search-sidebar-wrapper:last-child:not(:first-child) {
    float: left;
    clear: none;
  }

  // Modal
  .modal {
    overflow: visible;
    .close-button {
      top: rem-calc(-5);
      right: rem-calc(-62);
      color: $white;
      &:hover,
      &:focus {
        color: $light-gray;
      }
    }
  }

  // User page
  .user-content {
    padding-bottom: rem-calc(9);
    .breadcrumbs-wrapper {
      margin-bottom: rem-calc(29);
    }
    .page-title {
      margin-bottom: rem-calc(65);
    }
  }
  .user-card {
    padding-top: rem-calc(71);
    padding-bottom: rem-calc(65);
  }
  .user-links {
    .column,
    .columns {
      padding-left: rem-calc(30);
      padding-right: rem-calc(30);
    }
    .column-block {
      margin-bottom: rem-calc(65);
    }
  }
  .user-link {
    padding-top: rem-calc(31);
    padding-bottom: rem-calc(35);
  }
  .user-link-picture {
    margin-bottom: rem-calc(14);
  }

  // Login page
  .login-page {
    .user-content {
      padding-bottom: rem-calc(103);
      .breadcrumbs-wrapper {
        margin-bottom: rem-calc(50);
      }
      .user-card-title {
        margin-bottom: rem-calc(41);
      }
    }
  }
  .login-content {
    .person-items {
      margin-bottom: rem-calc(16);
    }
    .person-item {
      &:not(:last-child) {
        margin-bottom: rem-calc(43);
      }
    }
  }
  .password-notice {
    padding-bottom: rem-calc(44);
  }

  // Register page
  .register-page {
    .user-content {
      padding-bottom: rem-calc(88);
      .breadcrumbs-wrapper {
        margin-bottom: rem-calc(10);
      }
    }
  }
  .register {
    padding-top: rem-calc(66);
    .user-card-title {
      margin-bottom: rem-calc(54);
    }
  }
  .register-notice {
    margin-bottom: rem-calc(97);
    max-width: rem-calc(938);
    padding: rem-calc(67 41 56);
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.05);
  }
  .register-notice-picture {
    margin-bottom: 0;
    padding: rem-calc(25 55);
  }
  .register-notice-content {
    p {
      font-size: rem-calc(17);
      line-height: unitless-calc(28, 17);
    }
  }
  .register-notice-title {
    margin-bottom: rem-calc(29);
    font-size: rem-calc(35);
  }
  .register-content {
    .person-items {
      margin-bottom: rem-calc(18);
    }
    .person-item {
      &:not(:last-child) {
        margin-bottom: rem-calc(39);
      }
    }
  }
  .user-checkbox-item {
    margin-bottom: rem-calc(40);
  }

  // Newsletter page
  .newsletter-page {
    .user-content {
      padding-bottom: rem-calc(53);
      .breadcrumbs-wrapper {
        margin-bottom: rem-calc(10);
      }
      .page-title {
        margin-bottom: rem-calc(58);
      }
    }
  }
  .newsletter {
    padding-top: rem-calc(58);
    padding-bottom: rem-calc(42);
    p {
      margin: rem-calc(0 -50 30);
    }
    .register-content {
      .person-item {
        &:not(:last-child) {
          margin-bottom: rem-calc(6);
        }
      }
    }
    .user-checkbox-item {
      margin-bottom: rem-calc(29);
      &.license-agreement {
        margin-bottom: rem-calc(35);
      }
    }
    .register-button {
      margin-bottom: rem-calc(28);
    }
  }
  .newsletter-title-block {
    .icon {
      margin-bottom: rem-calc(36);
    }
  }

  // Profile page
  .profile-page {
    .user-content {
      padding-bottom: rem-calc(84);
      .breadcrumbs-wrapper {
        margin-bottom: rem-calc(10);
      }
      .page-title {
        margin-bottom: rem-calc(27);
      }
    }
    .user-checkbox-item {
      margin-bottom: rem-calc(21);
    }
  }
  .profile {
    padding-top: rem-calc(66);
    padding-bottom: rem-calc(55);
    .person-item {
      &:not(:last-child) {
        &.person-item-upload {
          margin-bottom: rem-calc(23);
        }
      }
    }
    hr {
      margin: rem-calc(43 -70 60);
    }
  }
  .user-status {
    margin-bottom: rem-calc(25);
    padding-top: rem-calc(25);
    padding-bottom: rem-calc(31);
  }
  .user-status-picture {
    padding-left: rem-calc(22);
    padding-right: rem-calc(32);
  }
  .user-birth-fields {
    .select {
      flex-basis: 130px;
    }
  }
  .profile-documents {
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(23);
  }

  // Favourites page
  .favourites-page {
    .user-content {
      .breadcrumbs-wrapper {
        margin-bottom: rem-calc(46);
      }
      .page-title {
        margin-bottom: rem-calc(29);
      }
    }
  }
  .favourites {
    padding-bottom: rem-calc(63);
  }
  .favourites-info {
    padding-bottom: rem-calc(45);
  }
  .favourites-items {
    max-width: none;
  }

  // Order page
  .order-page {
    .user-content {
      padding-bottom: rem-calc(93);
      .breadcrumbs-wrapper {
        margin-bottom: rem-calc(10);
      }
      .checkout-card {
        &:not(:last-child) {
          margin-bottom: rem-calc(76);
        }
      }
      .page-title {
        margin-bottom: rem-calc(34);
      }
    }
  }
  .order {
    padding-top: rem-calc(76);
    padding-bottom: rem-calc(30);
    a {
      margin-bottom: rem-calc(32);
    }
    .icon {
      margin-bottom: rem-calc(30);
    }
    .login-button {
      margin-bottom: rem-calc(25);
    }
  }
  .order-info {
    padding-bottom: rem-calc(16);
  }
}

@include breakpoint(xlarge) {
  .header {
    padding-top: rem-calc(52);
    .callback {
      padding-left: rem-calc(62);
    }
  }
  .title-block {
    margin-bottom: rem-calc(32);
    padding-left: rem-calc(33);
  }
  .banners {
    padding-top: rem-calc(55);
    padding-bottom: rem-calc(58);
  }
  .catalog {
    padding-top: rem-calc(48);
    padding-bottom: rem-calc(34);
    .column-block {
      margin-bottom: rem-calc(45);
    }
  }
  .goods {
    padding-top: rem-calc(48);
    padding-bottom: rem-calc(58);
  }
  .goods-slider-wrapper {
    padding-bottom: 0;
    .swiper-pagination {
      bottom: rem-calc(-30);
    }
  }
  .goods-item-price {
    .button-cart {
      margin-left: rem-calc(13);
    }
  }
  .advantages {
    padding-top: rem-calc(90);
    padding-bottom: rem-calc(100);
  }
  .articles {
    padding-bottom: rem-calc(30);
  }
  .articles-item-info {
    p {
      max-height: rem-calc(85);
      overflow-y: hidden;
    }
  }
  .about {
    padding-bottom: rem-calc(40);
  }
  .subscription {
    padding-bottom: rem-calc(82);
  }
  .footer {
    .payment-column {
      padding-left: rem-calc(44);
    }
  }

  // Product page
  .product-gallery-thumbs {
    .swiper-slide {
      width: 114px;
    }
  }

  // Checkout page
  .cart-item-column {
    &.info-column {
      flex-basis: rem-calc(410);
    }
    &.price-column {
      flex-basis: rem-calc(290);
    }
    &.amount-column {
      flex-basis: rem-calc(290);
    }
  }

  // Service page
  .service-content {
    .subscription-form-container {
      padding-left: rem-calc(18);
    }
  }
  .service-card {
    &.page-content {
      .page-content-inner {
        margin-left: rem-calc(-48);
      }
    }
  }

  // Promotion page
  .promotion-products {
    .goods-slider-wrapper {
      padding-bottom: rem-calc(30);
      .swiper-pagination {
        bottom: 0;
      }
    }
  }

  // Profile page
  .profile {
    hr {
      margin-left: rem-calc(-170);
      margin-right: rem-calc(-170);
    }
  }
  .profile-documents {
    margin-right: rem-calc(-170);
    justify-content: space-between;
    li {
      flex-grow: 0;
    }
  }
}

@include breakpoint(80rem) {
  .content-slider-wrapper {
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
    }
    .swiper-button-prev {
      left: rem-calc(-40);
    }
    .swiper-button-next {
      right: rem-calc(-40);
    }
    .swiper-pagination {
      display: none;
    }
  }

  // Promotion page
  .promotion-products {
    .goods-slider-wrapper {
      padding-bottom: 0;
      &:first-child {
        border-bottom: 1px solid $medium-gray;
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
