.svg-advantages-item-1-dims {
	width: 60px;
	height: 64px;
}

.svg-advantages-item-2-dims {
	width: 61px;
	height: 61px;
}

.svg-advantages-item-3-dims {
	width: 63px;
	height: 63px;
}

.svg-advantages-item-4-dims {
	width: 61px;
	height: 61px;
}

.svg-angle-down-dims {
	width: 16px;
	height: 9px;
}

.svg-angle-next-dims {
	width: 19px;
	height: 33px;
}

.svg-angle-next-gray-dims {
	width: 19px;
	height: 33px;
}

.svg-angle-prev-dims {
	width: 19px;
	height: 33px;
}

.svg-angle-prev-gray-dims {
	width: 19px;
	height: 33px;
}

.svg-angle-right-dims {
	width: 7px;
	height: 12px;
}

.svg-arrow-right-dims {
	width: 54px;
	height: 54px;
}

.svg-arrow-right-lightblue-dims {
	width: 54px;
	height: 54px;
}

.svg-bell-dims {
	width: 27px;
	height: 27px;
}

.svg-calc-dims {
	width: 54px;
	height: 60px;
}

.svg-calendar-dims {
	width: 23px;
	height: 26px;
}

.svg-card-online-dims {
	width: 49px;
	height: 49px;
}

.svg-cart-dims {
	width: 53.46px;
	height: 54px;
}

.svg-catalog-item-1-dims {
	width: 90px;
	height: 90px;
}

.svg-catalog-item-10-dims {
	width: 88.91px;
	height: 65.47px;
}

.svg-catalog-item-11-dims {
	width: 51px;
	height: 39px;
}

.svg-catalog-item-12-dims {
	width: 281px;
	height: 355.1px;
}

.svg-catalog-item-2-dims {
	width: 14.15px;
	height: 24.01px;
}

.svg-catalog-item-3-dims {
	width: 87.86px;
	height: 29.04px;
}

.svg-catalog-item-4-dims {
	width: 50.07px;
	height: 90px;
}

.svg-catalog-item-5-dims {
	width: 36px;
	height: 36px;
}

.svg-catalog-item-6-dims {
	width: 49.5px;
	height: 49.5px;
}

.svg-catalog-item-7-dims {
	width: 36.77px;
	height: 43.09px;
}

.svg-catalog-item-8-dims {
	width: 10.96px;
	height: 14px;
}

.svg-catalog-item-9-dims {
	width: 24.2px;
	height: 48.5px;
}

.svg-check-mark-dims {
	width: 197.35px;
	height: 184.95px;
}

.svg-checkout-error-dims {
	width: 184.36px;
	height: 184.36px;
}

.svg-envelope-dims {
	width: 66.5px;
	height: 42.04px;
}

.svg-fcb-dims {
	width: 17.66px;
	height: 31px;
}

.svg-like-dims {
	width: 54px;
	height: 50px;
}

.svg-magnifier-dims {
	width: 54px;
	height: 54px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-present-dims {
	width: 864px;
	height: 863.9px;
}

.svg-products-last-item-dims {
	width: 26px;
	height: 17px;
}

.svg-receipt-dims {
	width: 60px;
	height: 59.01px;
}

.svg-register-notice-1-dims {
	width: 126.75px;
	height: 107.24px;
}

.svg-repeat-dims {
	width: 23px;
	height: 27.5px;
}

.svg-service-benefit-1-dims {
	width: 119.76px;
	height: 117.71px;
}

.svg-service-benefit-2-dims {
	width: 83.84px;
	height: 125.83px;
}

.svg-service-benefit-3-dims {
	width: 70.29px;
	height: 74.13px;
}

.svg-service-benefit-4-dims {
	width: 117.83px;
	height: 128.88px;
}

.svg-service-benefit-5-dims {
	width: 121.17px;
	height: 112.67px;
}

.svg-star-dims {
	width: 22px;
	height: 21px;
}

.svg-user-dims {
	width: 54px;
	height: 54px;
}

.svg-user-link-1-dims {
	width: 131.04px;
	height: 111.25px;
}

.svg-user-link-2-dims {
	width: 104.61px;
	height: 118.12px;
}

.svg-user-link-3-dims {
	width: 94.9px;
	height: 121.63px;
}

.svg-user-link-4-dims {
	width: 33.86px;
	height: 29.56px;
}

.svg-user-link-5-dims {
	width: 133.73px;
	height: 90.75px;
}

.svg-user-link-6-dims {
	width: 197.18px;
	height: 232.6px;
}

.svg-user-link-7-dims {
	width: 66.5px;
	height: 42.04px;
}

.svg-user-status-bronze-dims {
	width: 297.73px;
	height: 297.75px;
}

.svg-userpic-dims {
	width: 36px;
	height: 44px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

.svg-wallet-dims {
	width: 60px;
	height: 59.76px;
}

