.tags {
  margin-left: 0;
  font-weight: 600;
  li {
    margin: rem-calc(0 10 10 0);
  }
  a {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid $dark-gray;
    color: $dark-gray;
    &:hover {
      border-color: transparent;
    }
  }
}
