.user-content {
  padding-bottom: rem-calc(10);
  .page-title {
    margin-bottom: rem-calc(15);
  }
}

.user-card {
  a {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: rem-calc(10);
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    &:hover,
    &:focus {
      border-color: transparent;
    }
  }
}

.user-links {
  margin-bottom: 0;
  .column-block {
    margin-bottom: rem-calc(10);
  }
}

.user-link {
  display: block;
  padding: rem-calc(20 10);
  border: 7px solid transparent;
  font-size: rem-calc(20);
  background-color: $white;
  &:hover,
  &:focus {
    border-color: $primary-color;
    color: $anchor-color;
    .user-link-title {
      border-color: transparent;
    }
  }
}

.user-link-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: rem-calc(10);
}

.user-link-title {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid $anchor-color;
  line-height: 1;
  transition: border-color 0.15s ease;
}

.upload-button {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  padding: 0;
  width: auto;
  border-bottom: 1px solid $secondary-color;
  font-size: rem-calc(16);
  line-height: 1;
  color: $secondary-color;
  background-color: transparent;
  transition: border-color 0.15s ease;
  &:hover,
  &:focus {
    border-color: transparent;
    color: $secondary-color;
    background-color: transparent;
  }
}

.user-table {
  text-align: left;
  font-size: rem-calc(15);
  line-height: unitless-calc(22, 15);
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }
  th,
  td {
    padding-top: rem-calc(6);
    padding-bottom: rem-calc(6);
    &:not(:last-child) {
      padding-right: rem-calc(10);
    }
  }
  th {
    font-weight: 600;
  }
}
