<div class="advantages section">
  <div class="advantages-row row small-collapse text-center">
    <div class="medium-6 large-3 columns">
      <div class="advantages-item card">
        <div class="advantages-item-picture card-section">
          <svg class="icon" width="60" height="64">
            <use xlink:href="#advantages-item-1"></use>
          </svg>
        </div>
        <div class="advantages-item-info card-section">
          <h4 class="advantages-item-title">Много магазинов</h4>
          <div>Быстрая доставка</div>
        </div>
      </div>
    </div>
    <div class="medium-6 large-3 columns">
      <div class="advantages-item active card">
        <div class="advantages-item-picture card-section">
          <svg class="icon" width="60" height="64">
            <use xlink:href="#advantages-item-2"></use>
          </svg>
        </div>
        <div class="advantages-item-info card-section">
          <h4 class="advantages-item-title">Много магазинов</h4>
          <div>Быстрая доставка</div>
        </div>
      </div>
    </div>
    <div class="medium-6 large-3 columns">
      <div class="advantages-item card">
        <div class="advantages-item-picture card-section">
          <svg class="icon" width="60" height="64">
            <use xlink:href="#advantages-item-3"></use>
          </svg>
        </div>
        <div class="advantages-item-info card-section">
          <h4 class="advantages-item-title">Много магазинов</h4>
          <div>Быстрая доставка</div>
        </div>
      </div>
    </div>
    <div class="medium-6 large-3 columns">
      <div class="advantages-item card">
        <div class="advantages-item-picture card-section">
          <svg class="icon" width="60" height="64">
            <use xlink:href="#advantages-item-4"></use>
          </svg>
        </div>
        <div class="advantages-item-info card-section">
          <h4 class="advantages-item-title">Много магазинов</h4>
          <div>Быстрая доставка</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.advantages -->