<div class="advantages section section-light">
  <div class="advantages-row row medium-collapse text-center" data-equalizer="advantages" data-equalize-on="medium">
    <div class="medium-6 large-3 columns">
      <div class="advantages-item card" data-equalizer-watch="advantages">
        <div class="advantages-item-content card-section">
          <div class="advantages-item-picture flex-container flex-dir-column align-center align-middle">
            <svg class="icon" width="75" height="80">
              <use xlink:href="#advantages-item-1"></use>
            </svg>
          </div>
          <h4 class="advantages-item-title">Много
            <br>магазинов</h4>
          <div class="advantages-item-info">Быстрая доставка</div>
        </div>
      </div>
    </div>
    <div class="medium-6 large-3 columns">
      <div class="advantages-item advantages-item-active card" data-equalizer-watch="advantages">
        <div class="advantages-item-content card-section">
          <div class="advantages-item-picture flex-container flex-dir-column align-center align-middle">
            <svg class="icon" width="86" height="86">
              <use xlink:href="#advantages-item-2"></use>
            </svg>
          </div>
          <h4 class="advantages-item-title">Активный
            <br>пункт</h4>
          <div class="advantages-item-info">Быстрая доставка</div>
        </div>
      </div>
    </div>
    <div class="medium-6 large-3 columns">
      <div class="advantages-item card" data-equalizer-watch="advantages">
        <div class="advantages-item-content card-section">
          <div class="advantages-item-picture flex-container flex-dir-column align-center align-middle">
            <svg class="icon" width="71" height="71">
              <use xlink:href="#advantages-item-3"></use>
            </svg>
          </div>
          <h4 class="advantages-item-title">Наименование
            <br>магазинов</h4>
          <div class="advantages-item-info">Быстрая доставка</div>
        </div>
      </div>
    </div>
    <div class="medium-6 large-3 columns">
      <div class="advantages-item advantages-item-last card" data-equalizer-watch="advantages">
        <div class="advantages-item-content card-section">
          <div class="advantages-item-picture flex-container flex-dir-column align-center align-middle">
            <svg class="icon" width="76" height="74">
              <use xlink:href="#advantages-item-4"></use>
            </svg>
          </div>
          <h4 class="advantages-item-title">Заголовок
            <br>подпись</h4>
          <div class="advantages-item-info">Текстовая подпись</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.advantages -->