<div class="banners section section-light">
  <div class="row" data-equalizer data-equalize-on="large">
    <div class="large-8 columns large-push-4">
      <div class="banner-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banner flex-container flex-dir-column medium-flex-dir-row" data-equalizer-watch>
              <div class="banner-picture medium-order-2">
                <img src="assets/img/banners/3.png" alt="">
              </div>
              <div class="banner-info medium-order-1">
                <div class="banner-title">Скидки
                  <br> на кабель</div>
                <div class="banner-description">Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</div>
                <a href="#" class="banner-button button large">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-equalizer-watch>Slide 2</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="large-4 columns large-pull-8" data-equalizer-watch>
      <div class="row text-center large-text-left">
        <div class="medium-6 large-12 columns">
          <div class="banner flex-container flex-dir-column large-flex-dir-row">
            <div class="banner-picture large-order-2">
              <img src="assets/img/banners/1.jpg" alt="">
            </div>
            <div class="banner-info medium-order-1">
              <h3 class="banner-title">Скидки на лампы</h3>
              <div class="banner-description">Подпись по заголовком</div>
              <a href="#" class="banner-button button secondary">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="medium-6 large-12 columns">
          <div class="banner flex-container flex-dir-column large-flex-dir-row">
            <div class="banner-picture large-order-2">
              <img src="assets/img/banners/2.png" alt="">
            </div>
            <div class="banner-info medium-order-1">
              <h3 class="banner-title">Батарейки</h3>
              <div class="banner-description">Подпись по заголовком</div>
              <a href="#" class="banner-button button">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.banners -->