<div class="banners section">
  <div class="row">
    <div class="large-4 columns">
      <div class="banner">
        <div class="info">
          <div class="title">Скидки на лампы</div>
          <div class="description">Подпись по заголовком</div>
          <button class="button">Подробнее</button>
        </div>
        <div class="picture">
          <img src="assets/img/banners/1.jpg" alt="">
        </div>
      </div>
      <div class="banner">
        <div class="info">
          <div class="title">Батарейки</div>
          <div class="description">Подпись по заголовком</div>
          <button class="button">Подробнее</button>
        </div>
        <div class="picture">
          <img src="assets/img/banners/2.png" alt="">
        </div>
      </div>
    </div>
    <div class="large-8 columns">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banner">
              <div class="info">
                <div class="title">Скидки
                  <br> на кабель</div>
                <div class="description">Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</div>
                <button class="button">Подробнее</button>
              </div>
              <div class="picture">
                <img src="assets/img/banners/3.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banner">
              <div class="info">
                <div class="title">Скидки
                  <br> на кабель</div>
                <div class="description">Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</div>
                <button class="button">Подробнее</button>
              </div>
              <div class="picture">
                <img src="assets/img/banners/3.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.banners -->