<div class="banners section section-light">
  <div class="row large-collapse">
    <div class="columns">
      <div class="banners-grid">
        <div class="banners-col banners-col-big">
          <div class="banner-slider-wrapper">
            <div class="banner-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="banner banner-primary flex-container flex-dir-column medium-flex-dir-row" data-equalizer-watch>
                    <div class="banner-info">
                      <div class="banner-title">Скидки
                        <br> на кабель</div>
                      <p>Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</p>
                      <a href="#" class="banner-button banner-button-primary button">Подробнее</a>
                    </div>
                    <div class="banner-picture">
                      <img src="assets/img/banners/banner-element-1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="banner banner-primary flex-container flex-dir-column medium-flex-dir-row" data-equalizer-watch>
                    <div class="banner-info">
                      <div class="banner-title">Скидки
                        <br> на что-то ещё</div>
                      <p>Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</p>
                      <a href="#" class="banner-button banner-button-primary button">Подробнее</a>
                    </div>
                    <div class="banner-picture">
                      <img src="assets/img/banners/banner-element-1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="banner banner-primary flex-container flex-dir-column medium-flex-dir-row" data-equalizer-watch>
                    <div class="banner-info">
                      <div class="banner-title">Скидки
                        <br> на что-то ещё</div>
                      <p>Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</p>
                      <a href="#" class="banner-button banner-button-primary button">Подробнее</a>
                    </div>
                    <div class="banner-picture">
                      <img src="assets/img/banners/banner-element-1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="banner banner-primary flex-container flex-dir-column medium-flex-dir-row" data-equalizer-watch>
                    <div class="banner-info">
                      <div class="banner-title">Скидки
                        <br> на кабель</div>
                      <p>Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</p>
                      <a href="#" class="banner-button banner-button-primary button">Подробнее</a>
                    </div>
                    <div class="banner-picture">
                      <img src="assets/img/banners/banner-element-1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="banner banner-primary flex-container flex-dir-column medium-flex-dir-row" data-equalizer-watch>
                    <div class="banner-info">
                      <div class="banner-title">Скидки
                        <br> на кабель</div>
                      <p>Существуют две основные трактовки понятия &quot;текст&quot;: &quot;имманентная&quot;</p>
                      <a href="#" class="banner-button banner-button-primary button">Подробнее</a>
                    </div>
                    <div class="banner-picture">
                      <img src="assets/img/banners/banner-element-1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
        <!-- /.banners-grid-col -->
        <div class="banners-col banners-col-small text-center large-text-left">
          <div class="banner banner-default flex-container flex-dir-column large-flex-dir-row">
            <div class="banner-picture large-order-2">
              <img src="assets/img/banners/1.jpg" alt="">
            </div>
            <div class="banner-info medium-order-1">
              <h3 class="banner-title">Скидки на лампы</h3>
              <div class="banner-subtitle">Подпись по заголовком</div>
              <a href="#" class="banner-button banner-button-secondary button secondary">Подробнее</a>
            </div>
          </div>
          <div class="banner banner-secondary flex-container flex-dir-column large-flex-dir-row">
            <div class="banner-picture large-order-2">
              <img src="assets/img/banners/2.png" alt="">
            </div>
            <div class="banner-info medium-order-1">
              <h3 class="banner-title">Батарейки</h3>
              <div class="banner-subtitle">Подпись по заголовком</div>
              <a href="#" class="banner-button button">Подробнее</a>
            </div>
          </div>
        </div>
        <!-- /.banners-grid-col -->
      </div>
      <!-- /.banners-grid -->
    </div>
    <!-- /.columns -->
  </div>
  <!-- /.row -->
</div>
<!-- /.banners -->