<footer class="footer">
  <div class="row text-center" data-equalizer="footer" data-equalize-on="medium">
    <div class="large-6 large-push-3 columns">
      <div class="contact">
        <div class="contact-title">Остались вопросы? Звоните!</div>
        <div class="footer-callback callback">
          <a href="tel:+78003422588" class="callback-phone">8-800-342-2588</a>
          <br>
          <a href="#" class="callback-order">Заказать обратный звонок</a>
        </div>
        <div class="scl">
          <div>Отзывы и предложения</div>
          <ul class="scl-menu menu align-center">
            <li>
              <a href="#">
                <svg class="icon" width="38" height="20">
                  <use xlink:href="#vk"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/img/icons/okl.png" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="icon" width="18" height="31">
                  <use xlink:href="#fcb"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="medium-6 medium-push-6 large-3 large-push-3 columns medium-text-right large-text-left">
      <div class="footer-column flex-container flex-dir-column align-justify" data-equalizer-watch="footer">
        <div class="payment">
          Принимаем к оплате
          <br>
          <ul class="payment-menu menu simple align-center">
            <li>
              <img src="assets/img/icons/mir.png" alt="">
            </li>
            <li>
              <img src="assets/img/icons/mcard.png" alt="">
            </li>
            <li>
              <img src="assets/img/icons/visa.png" alt="">
            </li>
          </ul>
        </div>
        <div class="copyright show-for-medium">
          <a href="#">&quot;Рецепты Рекламы&quot;</a>
          <br>создание и разработка сайта
        </div>
      </div>
    </div>
    <div class="medium-6 medium-pull-6 large-3 large-pull-9 columns medium-text-left">
      <div class="footer-column" data-equalizer-watch="footer">
        <ul class="footer-menu menu vertical">
          <li>
            <a href="#">Магазины</a>
          </li>
          <li>
            <a href="#">Акции</a>
          </li>
          <li>
            <a href="#">Доставка и оплата</a>
          </li>
          <li>
            <a href="#">Услуги</a>
          </li>
          <li>
            <a href="#">Новости</a>
          </li>
          <li>
            <a href="#">Политика конфиденциальности</a>
          </li>
          <li>
            <a href="#">Договор оферты</a>
          </li>
        </ul>
        <div class="copyright">
          <div class="hide-for-medium">
            <a href="#">&quot;Рецепты Рекламы&quot;</a>
            <br>создание и разработка сайта
          </div>
          Все права защищены
          <br> ProffElectro.ru (c) 2018
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</footer>
<!-- /.footer -->