<div class="goods section section-secondary">
  <div class="row">
    <div class="column">
      <div class="title-block title-block-secondary flex-container align-justify align-middle">
        <h2 class="section-title">Выбор покупателей</h2>
        <a href="#">
          <svg class="icon" width="54px" height="54px">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>
      </div>
      <div class="goods-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R </a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.goods -->