<div class="goods section section-secondary">
  <div class="column row">
    <div class="title-block title-block-secondary flex-container align-justify align-middle">
      <h2 class="section-title">Выбор покупателей</h2>
      <a href="#" class="title-block-link">
        <svg class="icon" width="54px" height="54px">
          <use xlink:href="#arrow-right-lightblue"></use>
        </svg>
      </a>
    </div>
    <div class="goods-slider-wrapper">
      <div id="goods-slider" class="goods-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R </a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button small">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/2.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button small">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/3.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB MISTRAL65</a>
                </h5>
                <a href="#" class="goods-item-type">Бокс настенный</a>
                <div class="goods-item-price">3 200 руб.
                  <button class="button-cart button-primary button small">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/4.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">50 руб.
                  <button class="button-cart button-primary button small">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">2 700 руб.
                  <button class="button-cart button-primary button small">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="goods-item-picture card-section align-middle text-center">
                <img src="assets/img/goods/4.jpg">
              </div>
              <div class="goods-item-info card-section">
                <h5 class="goods-item-title">
                  <a href="#">ABB DSH941R</a>
                </h5>
                <a href="#" class="goods-item-type">Дифавтомат</a>
                <div class="goods-item-price">50 руб.
                  <button class="button-cart button-primary button small">
                    <svg class="icon" width="25" height="25">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.goods-slider -->
      <div id="goods-slider-next" class="swiper-button-next">
        <svg class="icon" width="19" height="33">
          <use xlink:href="#angle-next"></use>
        </svg>
      </div>
      <div id="goods-slider-prev" class="swiper-button-prev">
        <svg class="icon" width="19" height="33">
          <use xlink:href="#angle-prev"></use>
        </svg>
      </div>
      <div id="goods-slider-pagination" class="swiper-pagination"></div>
    </div>
    <!-- /.goods-slider-wrapper -->
  </div>
  <!-- /.row -->
</div>
<!-- /.goods -->