<div class="goods section">
  <div class="row">
    <div class="column">
      <div class="title-block">
        <h2 class="title">Выбор покупателей</h2>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54px" height="54px">
            <defs>
              <filter id="Filter_0">
                <feFlood flood-color="rgb(127, 144, 145)" flood-opacity="1" result="floodOut" />
                <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
              </filter>
            </defs>
            <g filter="url(#Filter_0)">
              <path fill-rule="evenodd" fill="rgb(97, 99, 121)" d="M-0.000,53.999 L-0.000,-0.001 L54.000,-0.001 L54.000,53.999 L-0.000,53.999 ZM52.000,1.999 L2.000,1.999 L2.000,51.999 L52.000,51.999 L52.000,1.999 ZM13.000,25.999 L37.586,25.999 L29.293,17.706 L30.707,16.292 L41.414,26.999 L30.707,37.707 L29.293,36.293 L37.586,27.999 L13.000,27.999 C12.448,27.999 12.000,27.552 12.000,26.999 C12.000,26.446 12.448,25.999 13.000,25.999 Z"
              />
            </g>
          </svg>
        </a>
      </div>
      <div class="goods-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="picture">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="card-section">
                <h5>
                  <a href="#" class="title">ABB DSH941R</a>
                </h5>
                <a href="#" class="type">Дифавтомат</a>
                <div class="price">2 700 руб.
                  <a class="button-cart button primary" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.46 54">
                      <defs>
                        <clipPath id="10e52e02-1d18-4a49-981b-0ae37a795dd7">
                          <rect width="48" height="48" style="fill:none" />
                        </clipPath>
                        <clipPath id="7e7b4aeb-c243-48b5-ae0c-082b5e25ff68" transform="translate(3 3)">
                          <path d="M12.08,23.56a2,2,0,0,1-.06-.29L8.38,6H4A2,2,0,0,1,4,2h6a2,2,0,0,1,2,1.59L13.52,11H41a4.35,4.35,0,0,1,4.36,5.35l-2.8,13.79A5.8,5.8,0,0,1,37,34.67l-18-.1A5.85,5.85,0,0,1,13.44,30l-1.36-6.45ZM16.5,25l.86,4.2A1.86,1.86,0,0,0,19,30.57l18,.1a1.81,1.81,0,0,0,1.62-1.33L39.52,25Zm-.82-4H40.33l1.11-5.45c.08-.39-.05-.55-.44-.55H14.45l1.23,6ZM17,46a4,4,0,1,1,4-4,4,4,0,0,1-4,4Zm22,0a4,4,0,1,1,4-4,4,4,0,0,1-4,4Z"
                            style="fill:none;clip-path:url(#10e52e02-1d18-4a49-981b-0ae37a795dd7)" />
                        </clipPath>
                      </defs>
                      <title>cart</title>
                      <g id="ef163f02-3472-4841-85cd-a320bc165a06" data-name="Layer 2">
                        <g id="cf05021c-a55b-4773-a95c-97a4cd8d75ad" data-name="Layer 1">
                          <g style="clip-path:url(#7e7b4aeb-c243-48b5-ae0c-082b5e25ff68)">
                            <rect width="53.46" height="54" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="picture">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="card-section">
                <h5>
                  <a href="#" class="title">ABB DSH941R</a>
                </h5>
                <a href="#" class="type">Дифавтомат</a>
                <div class="price">2 700 руб.
                  <a class="button-cart button primary" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.46 54">
                      <defs>
                        <clipPath id="10e52e02-1d18-4a49-981b-0ae37a795dd7">
                          <rect width="48" height="48" style="fill:none" />
                        </clipPath>
                        <clipPath id="7e7b4aeb-c243-48b5-ae0c-082b5e25ff68" transform="translate(3 3)">
                          <path d="M12.08,23.56a2,2,0,0,1-.06-.29L8.38,6H4A2,2,0,0,1,4,2h6a2,2,0,0,1,2,1.59L13.52,11H41a4.35,4.35,0,0,1,4.36,5.35l-2.8,13.79A5.8,5.8,0,0,1,37,34.67l-18-.1A5.85,5.85,0,0,1,13.44,30l-1.36-6.45ZM16.5,25l.86,4.2A1.86,1.86,0,0,0,19,30.57l18,.1a1.81,1.81,0,0,0,1.62-1.33L39.52,25Zm-.82-4H40.33l1.11-5.45c.08-.39-.05-.55-.44-.55H14.45l1.23,6ZM17,46a4,4,0,1,1,4-4,4,4,0,0,1-4,4Zm22,0a4,4,0,1,1,4-4,4,4,0,0,1-4,4Z"
                            style="fill:none;clip-path:url(#10e52e02-1d18-4a49-981b-0ae37a795dd7)" />
                        </clipPath>
                      </defs>
                      <title>cart</title>
                      <g id="ef163f02-3472-4841-85cd-a320bc165a06" data-name="Layer 2">
                        <g id="cf05021c-a55b-4773-a95c-97a4cd8d75ad" data-name="Layer 1">
                          <g style="clip-path:url(#7e7b4aeb-c243-48b5-ae0c-082b5e25ff68)">
                            <rect width="53.46" height="54" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="picture">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="card-section">
                <h5>
                  <a href="#" class="title">ABB DSH941R</a>
                </h5>
                <a href="#" class="type">Дифавтомат</a>
                <div class="price">2 700 руб.
                  <a class="button-cart button primary" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.46 54">
                      <defs>
                        <clipPath id="10e52e02-1d18-4a49-981b-0ae37a795dd7">
                          <rect width="48" height="48" style="fill:none" />
                        </clipPath>
                        <clipPath id="7e7b4aeb-c243-48b5-ae0c-082b5e25ff68" transform="translate(3 3)">
                          <path d="M12.08,23.56a2,2,0,0,1-.06-.29L8.38,6H4A2,2,0,0,1,4,2h6a2,2,0,0,1,2,1.59L13.52,11H41a4.35,4.35,0,0,1,4.36,5.35l-2.8,13.79A5.8,5.8,0,0,1,37,34.67l-18-.1A5.85,5.85,0,0,1,13.44,30l-1.36-6.45ZM16.5,25l.86,4.2A1.86,1.86,0,0,0,19,30.57l18,.1a1.81,1.81,0,0,0,1.62-1.33L39.52,25Zm-.82-4H40.33l1.11-5.45c.08-.39-.05-.55-.44-.55H14.45l1.23,6ZM17,46a4,4,0,1,1,4-4,4,4,0,0,1-4,4Zm22,0a4,4,0,1,1,4-4,4,4,0,0,1-4,4Z"
                            style="fill:none;clip-path:url(#10e52e02-1d18-4a49-981b-0ae37a795dd7)" />
                        </clipPath>
                      </defs>
                      <title>cart</title>
                      <g id="ef163f02-3472-4841-85cd-a320bc165a06" data-name="Layer 2">
                        <g id="cf05021c-a55b-4773-a95c-97a4cd8d75ad" data-name="Layer 1">
                          <g style="clip-path:url(#7e7b4aeb-c243-48b5-ae0c-082b5e25ff68)">
                            <rect width="53.46" height="54" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="picture">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="card-section">
                <h5>
                  <a href="#" class="title">ABB DSH941R</a>
                </h5>
                <a href="#" class="type">Дифавтомат</a>
                <div class="price">2 700 руб.
                  <a class="button-cart button primary" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.46 54">
                      <defs>
                        <clipPath id="10e52e02-1d18-4a49-981b-0ae37a795dd7">
                          <rect width="48" height="48" style="fill:none" />
                        </clipPath>
                        <clipPath id="7e7b4aeb-c243-48b5-ae0c-082b5e25ff68" transform="translate(3 3)">
                          <path d="M12.08,23.56a2,2,0,0,1-.06-.29L8.38,6H4A2,2,0,0,1,4,2h6a2,2,0,0,1,2,1.59L13.52,11H41a4.35,4.35,0,0,1,4.36,5.35l-2.8,13.79A5.8,5.8,0,0,1,37,34.67l-18-.1A5.85,5.85,0,0,1,13.44,30l-1.36-6.45ZM16.5,25l.86,4.2A1.86,1.86,0,0,0,19,30.57l18,.1a1.81,1.81,0,0,0,1.62-1.33L39.52,25Zm-.82-4H40.33l1.11-5.45c.08-.39-.05-.55-.44-.55H14.45l1.23,6ZM17,46a4,4,0,1,1,4-4,4,4,0,0,1-4,4Zm22,0a4,4,0,1,1,4-4,4,4,0,0,1-4,4Z"
                            style="fill:none;clip-path:url(#10e52e02-1d18-4a49-981b-0ae37a795dd7)" />
                        </clipPath>
                      </defs>
                      <title>cart</title>
                      <g id="ef163f02-3472-4841-85cd-a320bc165a06" data-name="Layer 2">
                        <g id="cf05021c-a55b-4773-a95c-97a4cd8d75ad" data-name="Layer 1">
                          <g style="clip-path:url(#7e7b4aeb-c243-48b5-ae0c-082b5e25ff68)">
                            <rect width="53.46" height="54" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="picture">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="card-section">
                <h5>
                  <a href="#" class="title">ABB DSH941R</a>
                </h5>
                <a href="#" class="type">Дифавтомат</a>
                <div class="price">2 700 руб.
                  <a class="button-cart button primary" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.46 54">
                      <defs>
                        <clipPath id="10e52e02-1d18-4a49-981b-0ae37a795dd7">
                          <rect width="48" height="48" style="fill:none" />
                        </clipPath>
                        <clipPath id="7e7b4aeb-c243-48b5-ae0c-082b5e25ff68" transform="translate(3 3)">
                          <path d="M12.08,23.56a2,2,0,0,1-.06-.29L8.38,6H4A2,2,0,0,1,4,2h6a2,2,0,0,1,2,1.59L13.52,11H41a4.35,4.35,0,0,1,4.36,5.35l-2.8,13.79A5.8,5.8,0,0,1,37,34.67l-18-.1A5.85,5.85,0,0,1,13.44,30l-1.36-6.45ZM16.5,25l.86,4.2A1.86,1.86,0,0,0,19,30.57l18,.1a1.81,1.81,0,0,0,1.62-1.33L39.52,25Zm-.82-4H40.33l1.11-5.45c.08-.39-.05-.55-.44-.55H14.45l1.23,6ZM17,46a4,4,0,1,1,4-4,4,4,0,0,1-4,4Zm22,0a4,4,0,1,1,4-4,4,4,0,0,1-4,4Z"
                            style="fill:none;clip-path:url(#10e52e02-1d18-4a49-981b-0ae37a795dd7)" />
                        </clipPath>
                      </defs>
                      <title>cart</title>
                      <g id="ef163f02-3472-4841-85cd-a320bc165a06" data-name="Layer 2">
                        <g id="cf05021c-a55b-4773-a95c-97a4cd8d75ad" data-name="Layer 1">
                          <g style="clip-path:url(#7e7b4aeb-c243-48b5-ae0c-082b5e25ff68)">
                            <rect width="53.46" height="54" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods-item card">
              <div class="picture">
                <img src="assets/img/goods/1.jpg">
              </div>
              <div class="card-section">
                <h5>
                  <a href="#" class="title">ABB DSH941R</a>
                </h5>
                <a href="#" class="type">Дифавтомат</a>
                <div class="price">2 700 руб.
                  <a class="button-cart button primary" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.46 54">
                      <defs>
                        <clipPath id="10e52e02-1d18-4a49-981b-0ae37a795dd7">
                          <rect width="48" height="48" style="fill:none" />
                        </clipPath>
                        <clipPath id="7e7b4aeb-c243-48b5-ae0c-082b5e25ff68" transform="translate(3 3)">
                          <path d="M12.08,23.56a2,2,0,0,1-.06-.29L8.38,6H4A2,2,0,0,1,4,2h6a2,2,0,0,1,2,1.59L13.52,11H41a4.35,4.35,0,0,1,4.36,5.35l-2.8,13.79A5.8,5.8,0,0,1,37,34.67l-18-.1A5.85,5.85,0,0,1,13.44,30l-1.36-6.45ZM16.5,25l.86,4.2A1.86,1.86,0,0,0,19,30.57l18,.1a1.81,1.81,0,0,0,1.62-1.33L39.52,25Zm-.82-4H40.33l1.11-5.45c.08-.39-.05-.55-.44-.55H14.45l1.23,6ZM17,46a4,4,0,1,1,4-4,4,4,0,0,1-4,4Zm22,0a4,4,0,1,1,4-4,4,4,0,0,1-4,4Z"
                            style="fill:none;clip-path:url(#10e52e02-1d18-4a49-981b-0ae37a795dd7)" />
                        </clipPath>
                      </defs>
                      <title>cart</title>
                      <g id="ef163f02-3472-4841-85cd-a320bc165a06" data-name="Layer 2">
                        <g id="cf05021c-a55b-4773-a95c-97a4cd8d75ad" data-name="Layer 1">
                          <g style="clip-path:url(#7e7b4aeb-c243-48b5-ae0c-082b5e25ff68)">
                            <rect width="53.46" height="54" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
          <div class="swiper-slide">Slide 10</div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.goods -->