<header class="header">
  <div class="row">
    <div class="small-2 columns hide-for-medium">
      <button type="button" class="burger" data-open="offCanvas">
        <i></i>
        <i></i>
        <i></i>
      </button>
    </div>
    <div class="small-8 text-center medium-12 large-4 columns">
      <div class="logo">
        <a href="/" title="На главную">
          <img src="assets/img/logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="small-2 medium-4 large-3 columns text-right large-text-left">
      <div class="callback">
        <a href="tel:+78003585544" class="callback-phone">
          <svg class="icon hide-for-medium" width="25" height="25">
            <use xlink:href="#phone"></use>
          </svg>
          <span class="show-for-medium">8&nbsp;800&nbsp;358&nbsp;55&nbsp;44</span>
        </a>
        <div class="show-for-medium">
          <a href="#" class="callback-order">Заказать обратный звонок</a>
        </div>
      </div>
    </div>
    <div class="medium-4 large-3 columns show-for-medium">
      <div class="userbar small button-group align-center">
        <button type="button" class="button" data-tooltip tabindex="1" title="Поиск по сайту" data-position="bottom" data-alignment="center">
          <svg class="icon" width="25" height="25">
            <use xlink:href="#magnifier"></use>
          </svg>
        </button>
        <button type="button" class="button" data-tooltip tabindex="1" title="Текст" data-position="bottom" data-alignment="center">
          <svg class="icon" width="25" height="25">
            <use xlink:href="#user"></use>
          </svg>
        </button>
        <button type="button" class="button" data-tooltip tabindex="1" title="Текст" data-position="bottom" data-alignment="center">
          <svg class="icon" width="25" height="25">
            <use xlink:href="#like"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="medium-4 large-2 columns show-for-medium large-text-right">
      <div class="cart-status">
        <button type="button">
          <svg class="icon" width="25" height="25">
            <use xlink:href="#cart"></use>
          </svg>
          <span class="text-info">В корзине
            <br>нет товаров</span>
        </button>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="mobile-container row">
    <div class="medium-3 large-4 columns">
      <ul class="mega-menu-container dropdown menu align-center" data-dropdown-menu>
        <li>
          <a href="#">Электротовары
            <svg class="icon" width="16px" height="9px">
              <use xlink:href="#angle-down"></use>
            </svg>
          </a>
          <ul class="mega-menu menu">
            <li>
              <a href="#">Светильники</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Низковольтное оборудование</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Кабели и провода</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Кабеленесущие системы</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Электроустановочные изделия</a>
              <ul class="menu">
                <li>
                  <a href="#">Розетки силовые
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="12px">
                      <defs>
                        <filter id="Filter_0">
                          <feFlood flood-color="rgb(189, 189, 189)" flood-opacity="1" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                          <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                        </filter>

                      </defs>
                      <g filter="url(#Filter_0)">
                        <path fill-rule="evenodd" fill="rgb(220, 212, 202)" d="M7.003,6.131 L1.225,12.004 L0.206,10.968 L4.993,6.102 L-0.005,1.023 L1.006,-0.004 L6.733,5.816 L6.713,5.836 L7.003,6.131 Z"
                        />
                      </g>
                    </svg>
                  </a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Выключатели
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="12px">
                      <defs>
                        <filter id="Filter_0">
                          <feFlood flood-color="rgb(189, 189, 189)" flood-opacity="1" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                          <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                        </filter>

                      </defs>
                      <g filter="url(#Filter_0)">
                        <path fill-rule="evenodd" fill="rgb(220, 212, 202)" d="M7.003,6.131 L1.225,12.004 L0.206,10.968 L4.993,6.102 L-0.005,1.023 L1.006,-0.004 L6.733,5.816 L6.713,5.836 L7.003,6.131 Z"
                        />
                      </g>
                    </svg>
                  </a>
                  <ul class="menu">
                    <li>
                      <a href="#">Электроустановочные изделия</a>
                    </li>
                    <li>
                      <a href="#">Инструменты</a>
                    </li>
                    <li>
                      <a href="#">Крепёж</a>
                    </li>
                    <li>
                      <a href="#">Защитные средства</a>
                    </li>
                    <li>
                      <a href="#">Элементы питания</a>
                    </li>
                    <li>
                      <a href="#">Силовая техника</a>
                    </li>
                    <li>
                      <a href="#">Климатическое оборудование</a>
                    </li>
                    <li>
                      <a href="#">Щитовое оборудование</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Переключатели
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="12px">
                      <defs>
                        <filter id="Filter_0">
                          <feFlood flood-color="rgb(189, 189, 189)" flood-opacity="1" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                          <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                        </filter>

                      </defs>
                      <g filter="url(#Filter_0)">
                        <path fill-rule="evenodd" fill="rgb(220, 212, 202)" d="M7.003,6.131 L1.225,12.004 L0.206,10.968 L4.993,6.102 L-0.005,1.023 L1.006,-0.004 L6.733,5.816 L6.713,5.836 L7.003,6.131 Z"
                        />
                      </g>
                    </svg>
                  </a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Диммеры
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="12px">
                      <defs>
                        <filter id="Filter_0">
                          <feFlood flood-color="rgb(189, 189, 189)" flood-opacity="1" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                          <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                        </filter>

                      </defs>
                      <g filter="url(#Filter_0)">
                        <path fill-rule="evenodd" fill="rgb(220, 212, 202)" d="M7.003,6.131 L1.225,12.004 L0.206,10.968 L4.993,6.102 L-0.005,1.023 L1.006,-0.004 L6.733,5.816 L6.713,5.836 L7.003,6.131 Z"
                        />
                      </g>
                    </svg>
                  </a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Рамки, суппорты, адаптеры
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="12px">
                      <defs>
                        <filter id="Filter_0">
                          <feFlood flood-color="rgb(189, 189, 189)" flood-opacity="1" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                          <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                        </filter>

                      </defs>
                      <g filter="url(#Filter_0)">
                        <path fill-rule="evenodd" fill="rgb(220, 212, 202)" d="M7.003,6.131 L1.225,12.004 L0.206,10.968 L4.993,6.102 L-0.005,1.023 L1.006,-0.004 L6.733,5.816 L6.713,5.836 L7.003,6.131 Z"
                        />
                      </g>
                    </svg>
                  </a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Декоративные элементы
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="12px">
                      <defs>
                        <filter id="Filter_0">
                          <feFlood flood-color="rgb(189, 189, 189)" flood-opacity="1" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                          <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                        </filter>

                      </defs>
                      <g filter="url(#Filter_0)">
                        <path fill-rule="evenodd" fill="rgb(220, 212, 202)" d="M7.003,6.131 L1.225,12.004 L0.206,10.968 L4.993,6.102 L-0.005,1.023 L1.006,-0.004 L6.733,5.816 L6.713,5.836 L7.003,6.131 Z"
                        />
                      </g>
                    </svg>
                  </a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Розетки антенные
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="12px">
                      <defs>
                        <filter id="Filter_0">
                          <feFlood flood-color="rgb(189, 189, 189)" flood-opacity="1" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                          <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                        </filter>

                      </defs>
                      <g filter="url(#Filter_0)">
                        <path fill-rule="evenodd" fill="rgb(220, 212, 202)" d="M7.003,6.131 L1.225,12.004 L0.206,10.968 L4.993,6.102 L-0.005,1.023 L1.006,-0.004 L6.733,5.816 L6.713,5.836 L7.003,6.131 Z"
                        />
                      </g>
                    </svg>
                  </a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Инструменты</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Крепёж</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Защитные средства</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Элементы питания</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Силовая техника</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Климатическое оборудование</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Щитовое оборудование</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="medium-9 large-8 columns show-for-medium">
      <ul class="navigation menu align-right">
        <li>
          <a href="#">Магазин</a>
        </li>
        <li>
          <a href="#">Акции</a>
        </li>
        <li>
          <a href="#">Доставка и оплата</a>
        </li>
        <li>
          <a href="#">Услуги</a>
        </li>
        <li>
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">
                Ещё
                <svg class="icon" width="16px" height="9px">
                  <use xlink:href="#angle-down"></use>
                </svg>
              </a>
              <ul>
                <li>
                  <a href="#">Новости</a>
                </li>
                <li>
                  <a href="#">Политика конфиденциальности</a>
                </li>
                <li>
                  <a href="#">Договор оферты</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
</header>
<!-- /.header -->