<header class="header">
  <div class="row">
    <div class="small-2 columns hide-for-medium">
      <button type="button" class="hamb" data-open="offCanvas">
        <i></i>
        <i></i>
        <i></i>
      </button>
    </div>
    <div class="large-4 columns">
      <div class="logo">
        <a href="/" title="На главную">
          <img src="assets/img/logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="callback">
        <a href="tel:+78003585544" class="phone">8&nbsp;800&nbsp;358&nbsp;55&nbsp;44</a>
        <br>
        <a href="#" class="call-order">Заказать обратный звонок</a>
      </div>
    </div>
    <div class="large-3 columns">
      <ul class="userbar menu">
        <li>
          <button type="button" class="button" data-tooltip tabindex="1" title="Поиск по сайту" data-position="bottom" data-alignment="center">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 54 54">
              <defs>
                <clipPath id="c0c64742-708e-4582-b425-99a1acf9d322">
                  <rect width="48" height="48" style="fill:none" />
                </clipPath>
                <clipPath id="38f77448-f5e2-4702-ad2c-c875b5d7f5e6" transform="translate(3 3)">
                  <path d="M34.06,31.24,45.41,42.59a2,2,0,0,1-2.83,2.83L31.24,34.06a18,18,0,1,1,2.83-2.83ZM20,34A14,14,0,1,0,6,20,14,14,0,0,0,20,34Z"
                    style="fill:none;clip-path:url(#c0c64742-708e-4582-b425-99a1acf9d322)" />
                </clipPath>
              </defs>
              <title>magnifier</title>
              <g id="df85fcee-41bc-4b69-a362-d8beb92a7334" data-name="Layer 2">
                <g id="fb556f1c-9065-4568-9e63-331aad24b372" data-name="Layer 1">
                  <g style="clip-path:url(#38f77448-f5e2-4702-ad2c-c875b5d7f5e6)">
                    <rect width="54" height="54" />
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="button" data-tooltip tabindex="1" title="Текст" data-position="bottom" data-alignment="center">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 54 54">
              <defs>
                <clipPath id="2f86785b-c033-4867-b178-1818294cb4a1">
                  <rect x="3" y="3" width="48" height="48" style="fill:none" />
                </clipPath>
                <clipPath id="47a142b5-32ee-4aae-8771-68281b2b93ee">
                  <path d="M27,27A11,11,0,1,1,38,16,11,11,0,0,1,27,27Zm0-4a7,7,0,1,0-7-7,7,7,0,0,0,7,7ZM47.82,37.16a12.84,12.84,0,0,1,.81,3.32c.11.74.2,1.53.28,2.32,0,.27,0,.53.07.76l0,.3V44a5,5,0,0,1-5,5H10a5,5,0,0,1-5-5v-.14l0-.3c0-.23,0-.49.07-.76.08-.79.17-1.57.28-2.32a12.84,12.84,0,0,1,.81-3.32C7.72,33.83,19,29,27,29s19.28,4.83,20.82,8.16ZM44,38.69a10.32,10.32,0,0,0-1.17-.86,29.08,29.08,0,0,0-4.19-2.16A30.86,30.86,0,0,0,27,33a30.86,30.86,0,0,0-11.62,2.67,29.08,29.08,0,0,0-4.19,2.16,10.32,10.32,0,0,0-1.17.86l-.24.23a12.5,12.5,0,0,0-.45,2.15c-.1.67-.18,1.39-.25,2.12,0,.37-.06.68-.08.87A1,1,0,0,0,10,45H44a1,1,0,0,0,1-.95c0-.2,0-.5-.08-.87-.07-.73-.15-1.45-.25-2.12a12.5,12.5,0,0,0-.45-2.15L44,38.69Z"
                    style="fill:none;clip-path:url(#2f86785b-c033-4867-b178-1818294cb4a1)" />
                </clipPath>
              </defs>
              <title>user</title>
              <g id="c994b720-eed8-435f-942e-1eba686a8bf5" data-name="Layer 2">
                <g id="a28c7f01-a4e1-40bd-942a-3ed75c7a07d2" data-name="Layer 1">
                  <g style="clip-path:url(#47a142b5-32ee-4aae-8771-68281b2b93ee)">
                    <rect width="54" height="54" />
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="button" data-tooltip tabindex="1" title="Текст" data-position="bottom" data-alignment="center">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 54 50">
              <defs>
                <clipPath id="153788a2-0902-4f78-bb94-ea081cfedad1">
                  <rect x="3" y="1" width="48" height="48" style="fill:none" />
                </clipPath>
                <clipPath id="d667c376-4d0f-4ce3-8410-855a60d2b02a">
                  <path d="M27.68,8.48A11.46,11.46,0,0,1,36,5c7.28,0,13,5.95,13,14.32,0,5-2.47,9.19-7,13.7-1,1-4,3.72-4.12,3.85q-.64.61-1.37,1.26c-.6.53-1.25,1.08-1.94,1.65-1.4,1.15-2.89,2.31-4.39,3.42l-1.44,1.06-.56.4a2,2,0,0,1-2.3,0l-.56-.4-1.44-1.06c-1.49-1.11-3-2.27-4.39-3.42-.69-.56-1.33-1.11-1.94-1.65s-.95-.85-1.37-1.26C16,36.73,13,34,12,33c-4.56-4.5-7-8.68-7-13.7C5,10.95,10.72,5,18,5a11.46,11.46,0,0,1,8.32,3.48c.24.24.47.49.68.73.21-.24.44-.48.68-.73ZM27.77,40c1.45-1.07,2.89-2.19,4.23-3.3.65-.54,1.26-1.06,1.83-1.55s.87-.79,1.26-1.15c.19-.18,3.15-2.89,4.07-3.8C43,26.34,45,23,45,19.32,45,13.12,41,9,36,9a7.5,7.5,0,0,0-5.49,2.31A9.48,9.48,0,0,0,29.2,13a6.08,6.08,0,0,0-.37.65,2,2,0,0,1-3.65,0A6.08,6.08,0,0,0,24.8,13a9.48,9.48,0,0,0-1.31-1.64A7.5,7.5,0,0,0,18,9c-5,0-9,4.12-9,10.32,0,3.7,2,7,5.84,10.85.92.91,3.88,3.62,4.07,3.8q.58.55,1.26,1.15c.57.5,1.18,1,1.83,1.55,1.34,1.1,2.79,2.22,4.23,3.3l.77.57.77-.57Z"
                    style="fill:none;clip-path:url(#153788a2-0902-4f78-bb94-ea081cfedad1)" />
                </clipPath>
              </defs>
              <title>like</title>
              <g id="01c2d8a6-153d-4037-b3d6-0d64aca15370" data-name="Layer 2">
                <g id="bdecab63-23e1-44c0-9cb0-75c9fd74d274" data-name="Layer 1">
                  <g style="clip-path:url(#d667c376-4d0f-4ce3-8410-855a60d2b02a)">
                    <rect width="54" height="50" />
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="large-2 columns">
      <div class="cart-block">
        <button type="button">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.46 54">
            <defs>
              <clipPath id="10e52e02-1d18-4a49-981b-0ae37a795dd7">
                <rect width="48" height="48" style="fill:none" />
              </clipPath>
              <clipPath id="7e7b4aeb-c243-48b5-ae0c-082b5e25ff68" transform="translate(3 3)">
                <path d="M12.08,23.56a2,2,0,0,1-.06-.29L8.38,6H4A2,2,0,0,1,4,2h6a2,2,0,0,1,2,1.59L13.52,11H41a4.35,4.35,0,0,1,4.36,5.35l-2.8,13.79A5.8,5.8,0,0,1,37,34.67l-18-.1A5.85,5.85,0,0,1,13.44,30l-1.36-6.45ZM16.5,25l.86,4.2A1.86,1.86,0,0,0,19,30.57l18,.1a1.81,1.81,0,0,0,1.62-1.33L39.52,25Zm-.82-4H40.33l1.11-5.45c.08-.39-.05-.55-.44-.55H14.45l1.23,6ZM17,46a4,4,0,1,1,4-4,4,4,0,0,1-4,4Zm22,0a4,4,0,1,1,4-4,4,4,0,0,1-4,4Z"
                  style="fill:none;clip-path:url(#10e52e02-1d18-4a49-981b-0ae37a795dd7)" />
              </clipPath>
            </defs>
            <title>cart</title>
            <g id="ef163f02-3472-4841-85cd-a320bc165a06" data-name="Layer 2">
              <g id="cf05021c-a55b-4773-a95c-97a4cd8d75ad" data-name="Layer 1">
                <g style="clip-path:url(#7e7b4aeb-c243-48b5-ae0c-082b5e25ff68)">
                  <rect width="53.46" height="54" />
                </g>
              </g>
            </g>
          </svg>
          <span>В корзине нет товаров</span>
        </button>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="large-4 columns">
      <ul class="mega-menu dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Электротовары</a>
          <ul class="menu">
            <li>
              <a href="#">Светильники</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Низковольтное оборудование</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Кабели и провода</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Кабеленесущие системы</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Электроустановочные изделия</a>
              <ul class="menu">
                <li>
                  <a href="#">Розетки силовые</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Выключатели</a>
                  <ul class="menu">
                    <li>
                      <a href="#">Электроустановочные изделия</a>
                    </li>
                    <li>
                      <a href="#">Инструменты</a>
                    </li>
                    <li>
                      <a href="#">Крепёж</a>
                    </li>
                    <li>
                      <a href="#">Защитные средства</a>
                    </li>
                    <li>
                      <a href="#">Элементы питания</a>
                    </li>
                    <li>
                      <a href="#">Силовая техника</a>
                    </li>
                    <li>
                      <a href="#">Климатическое оборудование</a>
                    </li>
                    <li>
                      <a href="#">Щитовое оборудование</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Переключатели</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Диммеры</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Рамки, суппорты, адаптеры</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Декоративные элементы</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Розетки антенные</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Инструменты</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Крепёж</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Защитные средства</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Элементы питания</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Силовая техника</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Климатическое оборудование</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Щитовое оборудование</a>
              <ul class="menu">
                <li>
                  <a href="#">2</a>
                  <ul class="menu">
                    <li>
                      <a href="#">3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="large-8 columns">
      <ul class="navigation menu align-right">
        <li>
          <a href="#">Магазин</a>
        </li>
        <li>
          <a href="#">Акции</a>
        </li>
        <li>
          <a href="#">Доставка и оплата</a>
        </li>
        <li>
          <a href="#">Услуги</a>
        </li>
        <li>
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">&nbsp;</a>
              <ul>
                <li>
                  <a href="#">Item 1</a>
                </li>
                <li>
                  <a href="#">Item 2</a>
                </li>
                <li>
                  <a href="#">Item 3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
</header>
<!-- /.header -->