<div class="userbar small button-group align-center">
  <button type="button" class="button" data-tooltip tabindex="1" title="Поиск по сайту" data-position="bottom" data-alignment="center">
    <svg class="icon" width="25" height="25">
      <use xlink:href="#magnifier"></use>
    </svg>
  </button>
  <button type="button" class="button" data-tooltip tabindex="1" title="Текст" data-position="bottom" data-alignment="center">
    <svg class="icon" width="25" height="25">
      <use xlink:href="#user"></use>
    </svg>
  </button>
  <button type="button" class="button" data-tooltip tabindex="1" title="Текст" data-position="bottom" data-alignment="center">
    <svg class="icon" width="25" height="25">
      <use xlink:href="#like"></use>
    </svg>
  </button>
</div>
<div class="cart-status">
  <button type="button">
    <svg class="icon" width="25" height="25">
      <use xlink:href="#cart"></use>
    </svg>
    <span class="text-info">В корзине
      <br>нет товаров</span>
  </button>
</div>
<ul class="navigation vertical menu align-center">
  <li>
    <a href="#">Магазин</a>
  </li>
  <li>
    <a href="#">Акции</a>
  </li>
  <li>
    <a href="#">Доставка и оплата</a>
  </li>
  <li>
    <a href="#">Услуги</a>
  </li>
  <li>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">
          Ещё
          <svg class="icon" width="16px" height="9px">
            <use xlink:href="#angle-down"></use>
          </svg>
        </a>
        <ul>
          <li>
            <a href="#">Новости</a>
          </li>
          <li>
            <a href="#">Политика конфиденциальности</a>
          </li>
          <li>
            <a href="#">Договор оферты</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>