<div class="product-gallery-wrapper" data-sticky-container>
  <div class="gallery-sticky-container sticky" data-sticky data-margin-top=".625" data-top-anchor="product-content:top" data-btm-anchor="similar-slider:bottom">
    <div class="product-gallery">
      <div id="product-gallery" class="product-gallery-main swiper-container gallery-top">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/img/goods/1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/5.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/4.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/3.jpg" alt="">
          </div>
          <!-- <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200/nature/1)"></div> -->
        </div>
        <!-- Add Arrows -->
      </div>
      <div id="product-gallery-thumbs" class="swiper-container product-gallery-thumbs gallery-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/img/goods/1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/5.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/4.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/goods/3.jpg" alt="">
          </div>
          <!-- <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200/nature/1)"></div> -->
        </div>
        <div id="product-gallery-next" class="product-gallery-control product-gallery-next">
          <svg class="icon" width="9" height="16">
            <use xlink:href="#angle-next-gray"></use>
          </svg>
        </div>
        <div id="product-gallery-prev" class="product-gallery-control product-gallery-prev">
          <svg class="icon" width="9" height="16">
            <use xlink:href="#angle-prev-gray"></use>
          </svg>
        </div>
      </div>
    </div>
    <!-- /.product-gallery -->
  </div>
  <!-- /.gallery-sticky-container -->
</div>
<!-- /.product-gallery-wrapper -->