<div class="subscription section">
  <div class="column row">
    <div class="content-card">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 66.5 42.04">
        <defs>
          <clipPath id="20b4e9fd-eac1-41ff-952e-4cfc5319fc01" transform="translate(0)">
            <rect width="66.5" height="42.04" style="fill:none" />
          </clipPath>
        </defs>
        <title>envelope</title>
        <g id="4398c7f5-1202-45d8-9b8f-320a78050851" data-name="Layer 2">
          <g id="8d5fe57b-73ef-413d-a792-08f92850693a" data-name="Layer 1">
            <g style="clip-path:url(#20b4e9fd-eac1-41ff-952e-4cfc5319fc01)">
              <path d="M62.4,0h0L4.11.06C1.8.06,0,2.23,0,5V37.08c0,2.78,1.8,5,4.1,5H62.4c2.3,0,4.1-2.18,4.1-5V5c0-2.78-1.8-5-4.1-5M3.5,5.79,22.89,21,3.5,36.31Zm29.75,19L6.32,3.55,60.25,3.5Zm-7.53-1.47,6.44,5.07a1.75,1.75,0,0,0,2.16,0l6.44-5.07,19.4,15.27H6.32ZM43.61,21,63,5.79V36.31Z"
                transform="translate(0)" />
            </g>
          </g>
        </g>
      </svg>
      <h2 class="title">Подпишитесь на рассылку</h2>
      <form>
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <div class="row">
              <div class="medium-1 columns">
                <label for="subscription-name" class="text-right middle">Имя:</label>
              </div>
              <div class="medium-3 columns">
                <input type="text" id="subscription-name">
              </div>
              <div class="medium-1 columns">
                <label for="subscription-mail" class="text-right middle">Email:
                </label>
              </div>
              <div class="medium-3 columns">
                <input type="text" id="subscription-mail">
              </div>
              <div class="medium-1 columns end">
                <button type="button" class="button">Подписаться</button>
              </div>
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.row -->
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.subscription -->