<div class="subscription section section-light">
  <div class="column row">
    <div class="subscription-content content-card">
      <div class="text-center">
        <svg class="icon" width="67" height="43">
          <use xlink:href="#envelope"></use>
        </svg>
        <h2 class="subscription-title section-title">Подпишитесь на рассылку</h2>
      </div>
      <form>
        <div class="subscription-form-container">
          <div class="subscription-form-item">
            <label for="subscription-name" class="large-text-right middle">Имя:</label>
            <input type="text" id="subscription-name">
          </div>
          <div class="subscription-form-item">
            <label for="subscription-mail" class="large-text-right middle">Email:</label>
            <input type="text" id="subscription-mail">
          </div>
          <div class="subscription-form-item">
            <button type="button" class="subscription-button button button-primary large">Подписаться</button>
          </div>
        </div>
        <!-- /.subscription-form-container -->
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.subscription -->