<div class="subscription section section-light">
  <div class="column row">
    <div class="content-card">
      <div class="text-center">
        <svg class="icon" width="66" height="42">
          <use xlink:href="#envelope"></use>
        </svg>
        <h2 class="subscription-title section-title">Подпишитесь на рассылку</h2>
      </div>
      <form>
        <div class="row">
          <div class="columns large-10 large-centered">
            <div class="row" data-equalizer="subscription" data-equalize-on="medium">
              <div class="medium-4 columns" data-equalizer-watch="subscription">
                <div class="row">
                  <div class="large-3 columns">
                    <label for="subscription-name" class="large-text-right middle">Имя:</label>
                  </div>
                  <div class="large-9 columns">
                    <input type="text" id="subscription-name">
                  </div>
                </div>
              </div>
              <div class="medium-4 columns" data-equalizer-watch="subscription">
                <div class="row">
                  <div class="large-3 columns">
                    <label for="subscription-mail" class="large-text-right middle">Email:</label>
                  </div>
                  <div class="large-9 columns">
                    <input type="text" id="subscription-mail">
                  </div>
                </div>
              </div>
              <div class="medium-4 columns end text-center medium-text-left">
                <div class="flex-container flex-dir-column align-right" data-equalizer-watch="subscription">
                  <button type="button" class="subscription-button button button-primary large">Подписаться</button>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.row -->
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.subscription -->